<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.admin.system.dao.FRolepowerDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.centit.admin.system.po.FRolepower">
        <id column="ROLE_CODE" property="roleCode" />
        <result column="OPT_CODE" property="optCode" />
        <result column="OPT_SCOPE_CODES" property="optScopeCodes" />
        <result column="UPDATE_DATE" property="updateDate" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATOR" property="creator" />
        <result column="UPDATOR" property="updator" />
    </resultMap>

    <!-- 通用查询结果列(横着排列) -->
    <sql id="Base_Column_List1">
        ROLE_CODE, OPT_CODE, OPT_SCOPE_CODES, UPDATE_DATE, CREATE_DATE, CREATOR, UPDATOR
    </sql>

    <!-- 通用查询结果列(竖着排列) -->
    <sql id="Base_Column_List2">
        ROLE_CODE
          ,
        OPT_CODE
          ,
        OPT_SCOPE_CODES
          ,
        UPDATE_DATE
          ,
        CREATE_DATE
          ,
        CREATOR
          ,
        UPDATOR
    </sql>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_List">
        <if test="roleCode != null and roleCode != ''">
            <![CDATA[
                AND ROLE_CODE = #{roleCode ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="optCode != null and optCode != ''">
            <![CDATA[
                AND OPT_CODE = #{optCode ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="optScopeCodes != null and optScopeCodes != ''">
            <![CDATA[
                AND OPT_SCOPE_CODES = #{optScopeCodes ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="updateDate != null and updateDate != ''">
            <![CDATA[
                AND UPDATE_DATE = #{updateDate ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="createDate != null and createDate != ''">
            <![CDATA[
                AND CREATE_DATE = #{createDate ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="creator != null and creator != ''">
            <![CDATA[
                AND CREATOR = #{creator ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="updator != null and updator != ''">
            <![CDATA[
                AND UPDATOR = #{updator ,jdbcType=VARCHAR}
            ]]>
        </if>
    </sql>


    <!--  新增 -->
    <insert id="insert" parameterType="com.centit.admin.system.po.FRolepower">
        <![CDATA[
			insert into f_rolepower
		]]>
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="roleCode != '' and roleCode != null" >
                <![CDATA[
                    ROLE_CODE,
                ]]>
            </if>
            <if test="optCode != '' and optCode != null" >
                <![CDATA[
                    OPT_CODE,
                ]]>
            </if>
            <if test="optScopeCodes != '' and optScopeCodes != null" >
                <![CDATA[
                    OPT_SCOPE_CODES,
                ]]>
            </if>
            <if test="updateDate != '' and updateDate != null" >
                <![CDATA[
                    UPDATE_DATE,
                ]]>
            </if>
            <if test="createDate != '' and createDate != null" >
                <![CDATA[
                    CREATE_DATE,
                ]]>
            </if>
            <if test="creator != '' and creator != null" >
                <![CDATA[
                    CREATOR,
                ]]>
            </if>
            <if test="updator != '' and updator != null" >
                <![CDATA[
                    UPDATOR,
                ]]>
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="roleCode != '' and roleCode != null" >
                <![CDATA[
                    #{roleCode,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="optCode != '' and optCode != null" >
                <![CDATA[
                    #{optCode,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="optScopeCodes != '' and optScopeCodes != null" >
                <![CDATA[
                    #{optScopeCodes,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="updateDate != '' and updateDate != null" >
                <![CDATA[
                    #{updateDate,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="createDate != '' and createDate != null" >
                <![CDATA[
                    #{createDate,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="creator != '' and creator != null" >
                <![CDATA[
                    #{creator,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="updator != '' and updator != null" >
                <![CDATA[
                    #{updator,jdbcType=VARCHAR},
                ]]>
            </if>
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.centit.admin.system.po.FRolepower" >
        <![CDATA[
        	update f_rolepower
        ]]>
        <set >
            <if test="roleCode != '' and roleCode != null" >
                <![CDATA[
                    ROLE_CODE = #{roleCode,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="optCode != '' and optCode != null" >
                <![CDATA[
                    OPT_CODE = #{optCode,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="optScopeCodes != '' and optScopeCodes != null" >
                <![CDATA[
                    OPT_SCOPE_CODES = #{optScopeCodes,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="updateDate != '' and updateDate != null" >
                <![CDATA[
                    UPDATE_DATE = #{updateDate,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="createDate != '' and createDate != null" >
                <![CDATA[
                    CREATE_DATE = #{createDate,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="creator != '' and creator != null" >
                <![CDATA[
                    CREATOR = #{creator,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="updator != '' and updator != null" >
                <![CDATA[
                    UPDATOR = #{updator,jdbcType=VARCHAR},
                ]]>
            </if>
        </set>
        <where>
            <![CDATA[
                and ROLE_CODE = #{roleCode ,jdbcType=VARCHAR }
            ]]>
        </where>
    </update>


    <!-- 删除 -->
    <delete id="delete"  parameterType="com.centit.admin.system.po.FRolepower">
        <![CDATA[
            delete from f_rolepower
        ]]>
        <where>
            <![CDATA[
                and ROLE_CODE = #{roleCode ,jdbcType=VARCHAR }
            ]]>
        </where>
    </delete>


    <!--  查询详情 -->
    <select id="queryDetail" resultMap="BaseResultMap" parameterType="com.centit.admin.system.po.FRolepower">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from f_rolepower t
        ]]>
        <where>
            <![CDATA[
                and ROLE_CODE = #{roleCode ,jdbcType=VARCHAR }
            ]]>
        </where>
    </select>

    <!--  查询列表 -->
    <select id="queryList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from f_rolepower t
        ]]>
        <where>
            <include refid="Base_Where_List" />
        </where>
    </select>

</mapper>
