<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.admin.system.dao.FUserloginErrorDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.centit.admin.system.po.FUserloginError">
        <id column="id" property="id" />
        <result column="user_code" property="userCode" />
        <result column="login_time" property="loginTime" />
    </resultMap>

    <!-- 通用查询结果列(横着排列) -->
    <sql id="Base_Column_List1">
        id, user_code, login_time
    </sql>

    <!-- 通用查询结果列(竖着排列) -->
    <sql id="Base_Column_List2">
        id
          ,
        user_code
          ,
        login_time
    </sql>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_List">
        <if test="id != null and id != ''">
            <![CDATA[
                AND id = #{id ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="userCode != null and userCode != ''">
            <![CDATA[
                AND user_code = #{userCode ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="loginTime != null and loginTime != ''">
            <![CDATA[
                AND login_time = #{loginTime ,jdbcType=VARCHAR}
            ]]>
        </if>
    </sql>


    <!--  新增 -->
    <insert id="insert" parameterType="com.centit.admin.system.po.FUserloginError">
        <![CDATA[
			insert into f_userlogin_error
		]]>
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != '' and id != null" >
                <![CDATA[
                    id,
                ]]>
            </if>
            <if test="userCode != '' and userCode != null" >
                <![CDATA[
                    user_code,
                ]]>
            </if>

                <![CDATA[
                    login_time,
                ]]>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != '' and id != null" >
                <![CDATA[
                    #{id,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="userCode != '' and userCode != null" >
                <![CDATA[
                    #{userCode,jdbcType=VARCHAR},
                ]]>
            </if>
            now(),
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.centit.admin.system.po.FUserloginError" >
        <![CDATA[
        	update f_userlogin_error
        ]]>
        <set >
            <if test="id != '' and id != null" >
                <![CDATA[
                    id = #{id,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="userCode != '' and userCode != null" >
                <![CDATA[
                    user_code = #{userCode,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="loginTime != '' and loginTime != null" >
                <![CDATA[
                    login_time = #{loginTime,jdbcType=VARCHAR},
                ]]>
            </if>
        </set>
        <where>
            <![CDATA[
                and id = #{id ,jdbcType=VARCHAR }
            ]]>
        </where>
    </update>


    <!-- 删除 -->
    <delete id="delete"  parameterType="com.centit.admin.system.po.FUserloginError">
        <![CDATA[
            delete from f_userlogin_error
        ]]>
        <where>
            <![CDATA[
                   and user_code = #{userCode,jdbcType=VARCHAR}
                ]]>
        </where>
    </delete>


    <!--  查询详情 -->
    <select id="queryDetail" resultMap="BaseResultMap" parameterType="com.centit.admin.system.po.FUserloginError">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from f_userlogin_error t
        ]]>
        <where>
            <![CDATA[
                and id = #{id ,jdbcType=VARCHAR }
            ]]>
        </where>
    </select>

    <!--  查询列表 -->
    <select id="queryList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from f_userlogin_error t
        ]]>
        <where>
            <include refid="Base_Where_List" />
        </where>
    </select>

    <!--  查询列表 -->
    <select id="selectUserErrorCount" resultType="java.lang.Integer" parameterType="java.lang.String">
            select count(1)  from f_userlogin_error t
        <where>
            <![CDATA[
                 user_code = #{userCode,jdbcType=VARCHAR}
                ]]>
        </where>
    </select>
</mapper>
