<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.mallserver.dao.ShoppingGoodsclassDao">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.centit.mallserver.model.ShoppingGoodsclass">
        <id column="id" property="id"/>
        <result column="sequence" property="sequence"/>
        <result column="parent_id" property="parentId"/>
        <result column="className" property="className"/>
        <result column="is_end" property="isEnd"/>
    </resultMap>

    <!--  查询列表 -->
    <select id="queryChildList" resultMap="BaseResultMap" parameterType="java.lang.String">
        select id,
               sequence,
               parent_id,
               className,
               IF(((select count(*) from shopping_goodsclass sc where sc.parent_id = t.id) = 0), true, false) is_end
        from shopping_goodsclass t
        <where>
            deleteStatus = '0'
                <![CDATA[
              and parent_id = #{parentId ,jdbcType=VARCHAR}
            ]]>
        </where>
        order by t.sequence asc
    </select>

    <!--  查询列表 -->
    <select id="queryAllList" resultMap="BaseResultMap">
        select id,
        sequence,
        parent_id,
        className
        from shopping_goodsclass t
        <where>
            deleteStatus = '0'
        </where>
    </select>
</mapper>
