<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.mallserver.dao.ShoppingEvaluateDao">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.centit.mallserver.po.ShoppingEvaluatePo">
        <id column="id" property="id"/>
        <result column="addTime" property="addTime"/>
        <result column="evaluate_info" property="evaluateInfo"/>
        <result column="goods_spec" property="goodsSpec"/>
        <result column="evaluate_goods_id" property="evaluateGoodsId"/>
        <result column="evaluate_user_id" property="evaluateUserId"/>
        <result column="evaluate_user_name" property="evaluateUserName"/>
        <result column="evaluate_user_photo" property="evaluateUserPhoto"/>
        <result column="of_id" property="ofId"/>
        <result column="description_evaluate" property="descriptionEvaluate"/>
        <result column="service_evaluate" property="serviceEvaluate"/>
    </resultMap>


    <!--  获取最新评论 -->
    <select id="selectLastEvaluate" resultMap="BaseResultMap" parameterType="java.lang.String">
        <![CDATA[
        select t.id,
               t.addTime,
               t.evaluate_info,
               t.evaluate_seller_info,
               t.evaluate_seller_time,
               t.goods_spec,
               t.evaluate_goods_id,
               t.evaluate_seller_user_id,
               t.evaluate_user_id,
               t.of_id,
               t.description_evaluate,
               t.service_evaluate,
               su.nick_name evaluate_user_name,
               su.photo_id  evaluate_user_photo
        ]]>
        <![CDATA[
            from shopping_evaluate t
                 left join shopping_user su on t.evaluate_user_id = su.id
        ]]>
        <where>
            <![CDATA[
            t.evaluate_goods_id = #{goodsId ,jdbcType=VARCHAR}
            ]]>
            and t.deleteStatus = 0
        </where>
        order by addTime desc
        limit 1
    </select>

    <!--  查询列表 -->
    <select id="queryList" resultMap="BaseResultMap" parameterType="java.lang.String">
        <![CDATA[
        select t.id,
               t.addTime,
               t.evaluate_info,
               t.goods_spec,
               t.evaluate_goods_id,
               t.evaluate_user_id,
               t.of_id,
               t.description_evaluate,
               t.service_evaluate,
               su.nick_name evaluate_user_name,
               su.photo_id  evaluate_user_photo
        ]]>
        <![CDATA[
        from shopping_evaluate t left join shopping_user su on t.evaluate_user_id = su.id
        ]]>
        <where>
            <![CDATA[
            t.evaluate_goods_id = #{goodsId ,jdbcType=VARCHAR}
            ]]>
            and t.deleteStatus = 0
        </where>
        order by t.addTime desc
    </select>

</mapper>
