<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.pay.biz.dao.FUserinfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.centit.pay.biz.po.FUserinfo">
        <id column="USER_CODE" property="userCode" />
        <result column="USER_PIN" property="userPin" />
        <result column="USER_TYPE" property="userType" />
        <result column="IS_VALID" property="isValid" />
        <result column="LOGIN_NAME" property="loginName" />
        <result column="User_Name" property="userName" />
        <result column="USER_TAG" property="userTag" />
        <result column="english_Name" property="englishName" />
        <result column="USER_DESC" property="userDesc" />
        <result column="Login_Times" property="loginTimes" />
        <result column="Active_Time" property="activeTime" />
        <result column="TOP_UNIT" property="topUnit" />
        <result column="Reg_Email" property="regEmail" />
        <result column="USER_PWD" property="userPwd" />
        <result column="pwd_Expired_Time" property="pwdExpiredTime" />
        <result column="REG_CELL_PHONE" property="regCellPhone" />
        <result column="ID_CARD_NO" property="idCardNo" />
        <result column="primary_Unit" property="primaryUnit" />
        <result column="user_Word" property="userWord" />
        <result column="user_Order" property="userOrder" />
        <result column="update_Date" property="updateDate" />
        <result column="Create_Date" property="createDate" />
        <result column="extJsonInfo" property="extJsonInfo" />
        <result column="creator" property="creator" />
        <result column="updator" property="updator" />
        <result column="nickName" property="nickName" />
        <result column="photo" property="photo" />
        <result column="sex" property="sex" />
        <result column="signature" property="signature" />
        <result column="fingerprint" property="fingerprint" />
        <result column="gesturecode" property="gesturecode" />
        <result column="unlocktype" property="unlocktype" />
        <result column="todomsgswitch" property="todomsgswitch" />
        <result column="talkmsgswitch" property="talkmsgswitch" />
        <result column="fontsize" property="fontsize" />
        <result column="epStatus" property="epStatus" />
        <result column="telephoneNumber" property="telephoneNumber" />
        <result column="hideStatus" property="hideStatus" />
        <result column="lastLoginFailTimes" property="lastLoginFailTimes" />
        <result column="lastLoginFaildate" property="lastLoginFaildate" />
        <result column="unitname1" property="unitname1" />
        <result column="unitname2" property="unitname2" />
    </resultMap>

    <!-- 通用查询结果列(横着排列) -->
    <sql id="Base_Column_List1">
        USER_CODE, USER_PIN, USER_TYPE, IS_VALID, LOGIN_NAME, User_Name, USER_TAG, english_Name, USER_DESC, Login_Times, Active_Time, TOP_UNIT, Reg_Email, USER_PWD, pwd_Expired_Time, REG_CELL_PHONE, ID_CARD_NO, primary_Unit, user_Word, user_Order, update_Date, Create_Date, extJsonInfo, creator, updator, nickName, photo, sex, signature, fingerprint, gesturecode, unlocktype, todomsgswitch, talkmsgswitch, fontsize, epStatus, telephoneNumber, hideStatus, lastLoginFailTimes, lastLoginFaildate, unitname1, unitname2
    </sql>

    <!-- 通用查询结果列(竖着排列) -->
    <sql id="Base_Column_List2">
        USER_CODE
          ,
        USER_PIN
          ,
        USER_TYPE
          ,
        IS_VALID
          ,
        LOGIN_NAME
          ,
        User_Name
          ,
        USER_TAG
          ,
        english_Name
          ,
        USER_DESC
          ,
        Login_Times
          ,
        Active_Time
          ,
        TOP_UNIT
          ,
        Reg_Email
          ,
        USER_PWD
          ,
        pwd_Expired_Time
          ,
        REG_CELL_PHONE
          ,
        ID_CARD_NO
          ,
        primary_Unit
          ,
        user_Word
          ,
        user_Order
          ,
        update_Date
          ,
        Create_Date
          ,
        extJsonInfo
          ,
        creator
          ,
        updator
          ,
        nickName
          ,
        photo
          ,
        sex
          ,
        signature
          ,
        fingerprint
          ,
        gesturecode
          ,
        unlocktype
          ,
        todomsgswitch
          ,
        talkmsgswitch
          ,
        fontsize
          ,
        epStatus
          ,
        telephoneNumber
          ,
        hideStatus
          ,
        lastLoginFailTimes
          ,
        lastLoginFaildate
          ,
        unitname1
          ,
        unitname2
    </sql>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_List">
        <if test="userCode != null and userCode != ''">
            <![CDATA[
                AND USER_CODE = #{userCode ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="userPin != null and userPin != ''">
            <![CDATA[
                AND USER_PIN = #{userPin ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="userType != null and userType != ''">
            <![CDATA[
                AND USER_TYPE = #{userType ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="isValid != null and isValid != ''">
            <![CDATA[
                AND IS_VALID = #{isValid ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="loginName != null and loginName != ''">
            <![CDATA[
                AND LOGIN_NAME = #{loginName ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="userName != null and userName != ''">
            <![CDATA[
                AND User_Name = #{userName ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="userTag != null and userTag != ''">
            <![CDATA[
                AND USER_TAG = #{userTag ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="englishName != null and englishName != ''">
            <![CDATA[
                AND english_Name = #{englishName ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="userDesc != null and userDesc != ''">
            <![CDATA[
                AND USER_DESC = #{userDesc ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="loginTimes != null and loginTimes != ''">
            <![CDATA[
                AND Login_Times = #{loginTimes ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="activeTime != null and activeTime != ''">
            <![CDATA[
                AND Active_Time = #{activeTime ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="topUnit != null and topUnit != ''">
            <![CDATA[
                AND TOP_UNIT = #{topUnit ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="regEmail != null and regEmail != ''">
            <![CDATA[
                AND Reg_Email = #{regEmail ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="userPwd != null and userPwd != ''">
            <![CDATA[
                AND USER_PWD = #{userPwd ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="pwdExpiredTime != null and pwdExpiredTime != ''">
            <![CDATA[
                AND pwd_Expired_Time = #{pwdExpiredTime ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="regCellPhone != null and regCellPhone != ''">
            <![CDATA[
                AND REG_CELL_PHONE = #{regCellPhone ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="idCardNo != null and idCardNo != ''">
            <![CDATA[
                AND ID_CARD_NO = #{idCardNo ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="primaryUnit != null and primaryUnit != ''">
            <![CDATA[
                AND primary_Unit = #{primaryUnit ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="userWord != null and userWord != ''">
            <![CDATA[
                AND user_Word = #{userWord ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="userOrder != null and userOrder != ''">
            <![CDATA[
                AND user_Order = #{userOrder ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="updateDate != null and updateDate != ''">
            <![CDATA[
                AND update_Date = #{updateDate ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="createDate != null and createDate != ''">
            <![CDATA[
                AND Create_Date = #{createDate ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="extJsonInfo != null and extJsonInfo != ''">
            <![CDATA[
                AND extJsonInfo = #{extJsonInfo ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="creator != null and creator != ''">
            <![CDATA[
                AND creator = #{creator ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="updator != null and updator != ''">
            <![CDATA[
                AND updator = #{updator ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="nickName != null and nickName != ''">
            <![CDATA[
                AND nickName = #{nickName ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="photo != null and photo != ''">
            <![CDATA[
                AND photo = #{photo ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="sex != null and sex != ''">
            <![CDATA[
                AND sex = #{sex ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="signature != null and signature != ''">
            <![CDATA[
                AND signature = #{signature ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="fingerprint != null and fingerprint != ''">
            <![CDATA[
                AND fingerprint = #{fingerprint ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="gesturecode != null and gesturecode != ''">
            <![CDATA[
                AND gesturecode = #{gesturecode ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="unlocktype != null and unlocktype != ''">
            <![CDATA[
                AND unlocktype = #{unlocktype ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="todomsgswitch != null and todomsgswitch != ''">
            <![CDATA[
                AND todomsgswitch = #{todomsgswitch ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="talkmsgswitch != null and talkmsgswitch != ''">
            <![CDATA[
                AND talkmsgswitch = #{talkmsgswitch ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="fontsize != null and fontsize != ''">
            <![CDATA[
                AND fontsize = #{fontsize ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="epStatus != null and epStatus != ''">
            <![CDATA[
                AND epStatus = #{epStatus ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="telephoneNumber != null and telephoneNumber != ''">
            <![CDATA[
                AND telephoneNumber = #{telephoneNumber ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="hideStatus != null and hideStatus != ''">
            <![CDATA[
                AND hideStatus = #{hideStatus ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="lastLoginFailTimes != null and lastLoginFailTimes != ''">
            <![CDATA[
                AND lastLoginFailTimes = #{lastLoginFailTimes ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="lastLoginFaildate != null and lastLoginFaildate != ''">
            <![CDATA[
                AND lastLoginFaildate = #{lastLoginFaildate ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="unitname1 != null and unitname1 != ''">
            <![CDATA[
                AND unitname1 = #{unitname1 ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="unitname2 != null and unitname2 != ''">
            <![CDATA[
                AND unitname2 = #{unitname2 ,jdbcType=VARCHAR}
            ]]>
        </if>
    </sql>


    <!--  新增 -->
    <insert id="insert" parameterType="com.centit.pay.biz.po.FUserinfo">
        <![CDATA[
			insert into f_userinfo
		]]>
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userCode != '' and userCode != null" >
                <![CDATA[
                    USER_CODE,
                ]]>
            </if>
            <if test="userPin != '' and userPin != null" >
                <![CDATA[
                    USER_PIN,
                ]]>
            </if>
            <if test="userType != '' and userType != null" >
                <![CDATA[
                    USER_TYPE,
                ]]>
            </if>
            <if test="isValid != '' and isValid != null" >
                <![CDATA[
                    IS_VALID,
                ]]>
            </if>
            <if test="loginName != '' and loginName != null" >
                <![CDATA[
                    LOGIN_NAME,
                ]]>
            </if>
            <if test="userName != '' and userName != null" >
                <![CDATA[
                    User_Name,
                ]]>
            </if>
            <if test="userTag != '' and userTag != null" >
                <![CDATA[
                    USER_TAG,
                ]]>
            </if>
            <if test="englishName != '' and englishName != null" >
                <![CDATA[
                    english_Name,
                ]]>
            </if>
            <if test="userDesc != '' and userDesc != null" >
                <![CDATA[
                    USER_DESC,
                ]]>
            </if>
            <if test="loginTimes != '' and loginTimes != null" >
                <![CDATA[
                    Login_Times,
                ]]>
            </if>
            <if test="activeTime != '' and activeTime != null" >
                <![CDATA[
                    Active_Time,
                ]]>
            </if>
            <if test="topUnit != '' and topUnit != null" >
                <![CDATA[
                    TOP_UNIT,
                ]]>
            </if>
            <if test="regEmail != '' and regEmail != null" >
                <![CDATA[
                    Reg_Email,
                ]]>
            </if>
            <if test="userPwd != '' and userPwd != null" >
                <![CDATA[
                    USER_PWD,
                ]]>
            </if>
            <if test="pwdExpiredTime != '' and pwdExpiredTime != null" >
                <![CDATA[
                    pwd_Expired_Time,
                ]]>
            </if>
            <if test="regCellPhone != '' and regCellPhone != null" >
                <![CDATA[
                    REG_CELL_PHONE,
                ]]>
            </if>
            <if test="idCardNo != '' and idCardNo != null" >
                <![CDATA[
                    ID_CARD_NO,
                ]]>
            </if>
            <if test="primaryUnit != '' and primaryUnit != null" >
                <![CDATA[
                    primary_Unit,
                ]]>
            </if>
            <if test="userWord != '' and userWord != null" >
                <![CDATA[
                    user_Word,
                ]]>
            </if>
            <if test="userOrder != '' and userOrder != null" >
                <![CDATA[
                    user_Order,
                ]]>
            </if>
            <if test="updateDate != '' and updateDate != null" >
                <![CDATA[
                    update_Date,
                ]]>
            </if>
            <if test="createDate != '' and createDate != null" >
                <![CDATA[
                    Create_Date,
                ]]>
            </if>
            <if test="extJsonInfo != '' and extJsonInfo != null" >
                <![CDATA[
                    extJsonInfo,
                ]]>
            </if>
            <if test="creator != '' and creator != null" >
                <![CDATA[
                    creator,
                ]]>
            </if>
            <if test="updator != '' and updator != null" >
                <![CDATA[
                    updator,
                ]]>
            </if>
            <if test="nickName != '' and nickName != null" >
                <![CDATA[
                    nickName,
                ]]>
            </if>
            <if test="photo != '' and photo != null" >
                <![CDATA[
                    photo,
                ]]>
            </if>
            <if test="sex != '' and sex != null" >
                <![CDATA[
                    sex,
                ]]>
            </if>
            <if test="signature != '' and signature != null" >
                <![CDATA[
                    signature,
                ]]>
            </if>
            <if test="fingerprint != '' and fingerprint != null" >
                <![CDATA[
                    fingerprint,
                ]]>
            </if>
            <if test="gesturecode != '' and gesturecode != null" >
                <![CDATA[
                    gesturecode,
                ]]>
            </if>
            <if test="unlocktype != '' and unlocktype != null" >
                <![CDATA[
                    unlocktype,
                ]]>
            </if>
            <if test="todomsgswitch != '' and todomsgswitch != null" >
                <![CDATA[
                    todomsgswitch,
                ]]>
            </if>
            <if test="talkmsgswitch != '' and talkmsgswitch != null" >
                <![CDATA[
                    talkmsgswitch,
                ]]>
            </if>
            <if test="fontsize != '' and fontsize != null" >
                <![CDATA[
                    fontsize,
                ]]>
            </if>
            <if test="epStatus != '' and epStatus != null" >
                <![CDATA[
                    epStatus,
                ]]>
            </if>
            <if test="telephoneNumber != '' and telephoneNumber != null" >
                <![CDATA[
                    telephoneNumber,
                ]]>
            </if>
            <if test="hideStatus != '' and hideStatus != null" >
                <![CDATA[
                    hideStatus,
                ]]>
            </if>
            <if test="lastLoginFailTimes != '' and lastLoginFailTimes != null" >
                <![CDATA[
                    lastLoginFailTimes,
                ]]>
            </if>
            <if test="lastLoginFaildate != '' and lastLoginFaildate != null" >
                <![CDATA[
                    lastLoginFaildate,
                ]]>
            </if>
            <if test="unitname1 != '' and unitname1 != null" >
                <![CDATA[
                    unitname1,
                ]]>
            </if>
            <if test="unitname2 != '' and unitname2 != null" >
                <![CDATA[
                    unitname2,
                ]]>
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userCode != '' and userCode != null" >
                <![CDATA[
                    #{userCode,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="userPin != '' and userPin != null" >
                <![CDATA[
                    #{userPin,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="userType != '' and userType != null" >
                <![CDATA[
                    #{userType,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="isValid != '' and isValid != null" >
                <![CDATA[
                    #{isValid,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="loginName != '' and loginName != null" >
                <![CDATA[
                    #{loginName,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="userName != '' and userName != null" >
                <![CDATA[
                    #{userName,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="userTag != '' and userTag != null" >
                <![CDATA[
                    #{userTag,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="englishName != '' and englishName != null" >
                <![CDATA[
                    #{englishName,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="userDesc != '' and userDesc != null" >
                <![CDATA[
                    #{userDesc,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="loginTimes != '' and loginTimes != null" >
                <![CDATA[
                    #{loginTimes,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="activeTime != '' and activeTime != null" >
                <![CDATA[
                    #{activeTime,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="topUnit != '' and topUnit != null" >
                <![CDATA[
                    #{topUnit,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="regEmail != '' and regEmail != null" >
                <![CDATA[
                    #{regEmail,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="userPwd != '' and userPwd != null" >
                <![CDATA[
                    #{userPwd,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="pwdExpiredTime != '' and pwdExpiredTime != null" >
                <![CDATA[
                    #{pwdExpiredTime,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="regCellPhone != '' and regCellPhone != null" >
                <![CDATA[
                    #{regCellPhone,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="idCardNo != '' and idCardNo != null" >
                <![CDATA[
                    #{idCardNo,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="primaryUnit != '' and primaryUnit != null" >
                <![CDATA[
                    #{primaryUnit,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="userWord != '' and userWord != null" >
                <![CDATA[
                    #{userWord,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="userOrder != '' and userOrder != null" >
                <![CDATA[
                    #{userOrder,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="updateDate != '' and updateDate != null" >
                <![CDATA[
                    #{updateDate,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="createDate != '' and createDate != null" >
                <![CDATA[
                    #{createDate,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="extJsonInfo != '' and extJsonInfo != null" >
                <![CDATA[
                    #{extJsonInfo,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="creator != '' and creator != null" >
                <![CDATA[
                    #{creator,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="updator != '' and updator != null" >
                <![CDATA[
                    #{updator,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="nickName != '' and nickName != null" >
                <![CDATA[
                    #{nickName,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="photo != '' and photo != null" >
                <![CDATA[
                    #{photo,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="sex != '' and sex != null" >
                <![CDATA[
                    #{sex,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="signature != '' and signature != null" >
                <![CDATA[
                    #{signature,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="fingerprint != '' and fingerprint != null" >
                <![CDATA[
                    #{fingerprint,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="gesturecode != '' and gesturecode != null" >
                <![CDATA[
                    #{gesturecode,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="unlocktype != '' and unlocktype != null" >
                <![CDATA[
                    #{unlocktype,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="todomsgswitch != '' and todomsgswitch != null" >
                <![CDATA[
                    #{todomsgswitch,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="talkmsgswitch != '' and talkmsgswitch != null" >
                <![CDATA[
                    #{talkmsgswitch,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="fontsize != '' and fontsize != null" >
                <![CDATA[
                    #{fontsize,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="epStatus != '' and epStatus != null" >
                <![CDATA[
                    #{epStatus,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="telephoneNumber != '' and telephoneNumber != null" >
                <![CDATA[
                    #{telephoneNumber,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="hideStatus != '' and hideStatus != null" >
                <![CDATA[
                    #{hideStatus,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="lastLoginFailTimes != '' and lastLoginFailTimes != null" >
                <![CDATA[
                    #{lastLoginFailTimes,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="lastLoginFaildate != '' and lastLoginFaildate != null" >
                <![CDATA[
                    #{lastLoginFaildate,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="unitname1 != '' and unitname1 != null" >
                <![CDATA[
                    #{unitname1,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="unitname2 != '' and unitname2 != null" >
                <![CDATA[
                    #{unitname2,jdbcType=VARCHAR},
                ]]>
            </if>
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.centit.pay.biz.po.FUserinfo" >
        <![CDATA[
        	update f_userinfo
        ]]>
        <set >
            <if test="userCode != '' and userCode != null" >
                <![CDATA[
                    USER_CODE = #{userCode,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="userPin != '' and userPin != null" >
                <![CDATA[
                    USER_PIN = #{userPin,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="userType != '' and userType != null" >
                <![CDATA[
                    USER_TYPE = #{userType,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="isValid != '' and isValid != null" >
                <![CDATA[
                    IS_VALID = #{isValid,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="loginName != '' and loginName != null" >
                <![CDATA[
                    LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="userName != '' and userName != null" >
                <![CDATA[
                    User_Name = #{userName,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="userTag != '' and userTag != null" >
                <![CDATA[
                    USER_TAG = #{userTag,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="englishName != '' and englishName != null" >
                <![CDATA[
                    english_Name = #{englishName,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="userDesc != '' and userDesc != null" >
                <![CDATA[
                    USER_DESC = #{userDesc,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="loginTimes != '' and loginTimes != null" >
                <![CDATA[
                    Login_Times = #{loginTimes,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="activeTime != '' and activeTime != null" >
                <![CDATA[
                    Active_Time = #{activeTime,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="topUnit != '' and topUnit != null" >
                <![CDATA[
                    TOP_UNIT = #{topUnit,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="regEmail != '' and regEmail != null" >
                <![CDATA[
                    Reg_Email = #{regEmail,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="userPwd != '' and userPwd != null" >
                <![CDATA[
                    USER_PWD = #{userPwd,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="pwdExpiredTime != '' and pwdExpiredTime != null" >
                <![CDATA[
                    pwd_Expired_Time = #{pwdExpiredTime,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="regCellPhone != '' and regCellPhone != null" >
                <![CDATA[
                    REG_CELL_PHONE = #{regCellPhone,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="idCardNo != '' and idCardNo != null" >
                <![CDATA[
                    ID_CARD_NO = #{idCardNo,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="primaryUnit != '' and primaryUnit != null" >
                <![CDATA[
                    primary_Unit = #{primaryUnit,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="userWord != '' and userWord != null" >
                <![CDATA[
                    user_Word = #{userWord,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="userOrder != '' and userOrder != null" >
                <![CDATA[
                    user_Order = #{userOrder,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="updateDate != '' and updateDate != null" >
                <![CDATA[
                    update_Date = #{updateDate,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="createDate != '' and createDate != null" >
                <![CDATA[
                    Create_Date = #{createDate,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="extJsonInfo != '' and extJsonInfo != null" >
                <![CDATA[
                    extJsonInfo = #{extJsonInfo,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="creator != '' and creator != null" >
                <![CDATA[
                    creator = #{creator,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="updator != '' and updator != null" >
                <![CDATA[
                    updator = #{updator,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="nickName != '' and nickName != null" >
                <![CDATA[
                    nickName = #{nickName,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="photo != '' and photo != null" >
                <![CDATA[
                    photo = #{photo,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="sex != '' and sex != null" >
                <![CDATA[
                    sex = #{sex,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="signature != '' and signature != null" >
                <![CDATA[
                    signature = #{signature,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="fingerprint != '' and fingerprint != null" >
                <![CDATA[
                    fingerprint = #{fingerprint,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="gesturecode != '' and gesturecode != null" >
                <![CDATA[
                    gesturecode = #{gesturecode,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="unlocktype != '' and unlocktype != null" >
                <![CDATA[
                    unlocktype = #{unlocktype,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="todomsgswitch != '' and todomsgswitch != null" >
                <![CDATA[
                    todomsgswitch = #{todomsgswitch,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="talkmsgswitch != '' and talkmsgswitch != null" >
                <![CDATA[
                    talkmsgswitch = #{talkmsgswitch,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="fontsize != '' and fontsize != null" >
                <![CDATA[
                    fontsize = #{fontsize,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="epStatus != '' and epStatus != null" >
                <![CDATA[
                    epStatus = #{epStatus,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="telephoneNumber != '' and telephoneNumber != null" >
                <![CDATA[
                    telephoneNumber = #{telephoneNumber,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="hideStatus != '' and hideStatus != null" >
                <![CDATA[
                    hideStatus = #{hideStatus,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="lastLoginFailTimes != '' and lastLoginFailTimes != null" >
                <![CDATA[
                    lastLoginFailTimes = #{lastLoginFailTimes,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="lastLoginFaildate != '' and lastLoginFaildate != null" >
                <![CDATA[
                    lastLoginFaildate = #{lastLoginFaildate,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="unitname1 != '' and unitname1 != null" >
                <![CDATA[
                    unitname1 = #{unitname1,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="unitname2 != '' and unitname2 != null" >
                <![CDATA[
                    unitname2 = #{unitname2,jdbcType=VARCHAR},
                ]]>
            </if>
        </set>
        <where>
            <![CDATA[
                and USER_CODE = #{userCode ,jdbcType=VARCHAR }
            ]]>
        </where>
    </update>


    <!-- 删除 -->
    <delete id="delete"  parameterType="com.centit.pay.biz.po.FUserinfo">
        <![CDATA[
            delete from f_userinfo
        ]]>
        <where>
            <![CDATA[
                and USER_CODE = #{userCode ,jdbcType=VARCHAR }
            ]]>
        </where>
    </delete>


    <!--  查询详情 -->
    <select id="queryDetail" resultMap="BaseResultMap" parameterType="com.centit.pay.biz.po.FUserinfo">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from f_userinfo t
        ]]>
        <where>
            <![CDATA[
                and USER_CODE = #{userCode ,jdbcType=VARCHAR }
            ]]>
        </where>
    </select>

    <!--  查询列表 -->
    <select id="queryList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from f_userinfo t
        ]]>
        <where>
            <include refid="Base_Where_List" />
        </where>
    </select>

</mapper>
