<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.pay.biz.dao.ShoppingCouponUsertempDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.centit.pay.biz.po.ShoppingCouponUsertemp">
        <result column="coupon_id" property="couponId" />
        <result column="user_id" property="userId" />
    </resultMap>

    <!-- 通用查询结果列(横着排列) -->
    <sql id="Base_Column_List1">
        coupon_id, user_id
    </sql>

    <!-- 通用查询结果列(竖着排列) -->
    <sql id="Base_Column_List2">
        coupon_id
          ,
        user_id
    </sql>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_List">
        <if test="couponId != null and couponId != ''">
            <![CDATA[
                AND coupon_id = #{couponId ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="userId != null and userId != ''">
            <![CDATA[
                AND user_id = #{userId ,jdbcType=VARCHAR}
            ]]>
        </if>
    </sql>


    <!--  新增 -->
    <insert id="insert" parameterType="com.centit.pay.biz.po.ShoppingCouponUsertemp">
        <![CDATA[
			insert into shopping_coupon_usertemp
		]]>
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="couponId != '' and couponId != null" >
                <![CDATA[
                    coupon_id,
                ]]>
            </if>
            <if test="userId != '' and userId != null" >
                <![CDATA[
                    user_id,
                ]]>
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="couponId != '' and couponId != null" >
                <![CDATA[
                    #{couponId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="userId != '' and userId != null" >
                <![CDATA[
                    #{userId,jdbcType=VARCHAR},
                ]]>
            </if>
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.centit.pay.biz.po.ShoppingCouponUsertemp" >
        <![CDATA[
        	update shopping_coupon_usertemp
        ]]>
        <set >
            <if test="couponId != '' and couponId != null" >
                <![CDATA[
                    coupon_id = #{couponId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="userId != '' and userId != null" >
                <![CDATA[
                    user_id = #{userId,jdbcType=VARCHAR},
                ]]>
            </if>
        </set>
        <where>
            <![CDATA[
                AND coupon_id = #{couponId ,jdbcType=VARCHAR}
            ]]>
            <![CDATA[
                AND user_id = #{userId ,jdbcType=VARCHAR}
            ]]>
        </where>
    </update>


    <!-- 删除 -->
    <delete id="delete"  parameterType="com.centit.pay.biz.po.ShoppingCouponUsertemp">
        <![CDATA[
            delete from shopping_coupon_usertemp
        ]]>
        <where>
            <![CDATA[
                AND coupon_id = #{couponId ,jdbcType=VARCHAR}
            ]]>
            <![CDATA[
                AND user_id = #{userId ,jdbcType=VARCHAR}
            ]]>
        </where>
    </delete>


    <!--  查询详情 -->
    <select id="queryDetail" resultMap="BaseResultMap" parameterType="com.centit.pay.biz.po.ShoppingCouponUsertemp">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from shopping_coupon_usertemp t
        ]]>
        <where>
            <![CDATA[
                AND coupon_id = #{couponId ,jdbcType=VARCHAR}
            ]]>
            <![CDATA[
                AND user_id = #{userId ,jdbcType=VARCHAR}
            ]]>
        </where>
    </select>

    <!--  查询列表 -->
    <select id="queryList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from shopping_coupon_usertemp t
        ]]>
        <where>
            <include refid="Base_Where_List" />
        </where>
    </select>

</mapper>
