<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.shopping.dao.ShoppingBirthUserDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.centit.shopping.po.ShoppingBirthUser">
        <result column="user_id" property="userId" />
        <result column="year_str" property="yearStr" />
        <result column="addTime" property="addTime" />
    </resultMap>

    <!-- 通用查询结果列(横着排列) -->
    <sql id="Base_Column_List1">
        user_id, year_str, addTime
    </sql>

    <!-- 通用查询结果列(竖着排列) -->
    <sql id="Base_Column_List2">
        user_id
          ,
        year_str
          ,
        addTime
    </sql>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_List">
        <if test="userId != null and userId != ''">
            <![CDATA[
                AND user_id = #{userId ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="yearStr != null and yearStr != ''">
            <![CDATA[
                AND year_str = #{yearStr ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="addTime != null and addTime != ''">
            <![CDATA[
                AND addTime = #{addTime ,jdbcType=VARCHAR}
            ]]>
        </if>
    </sql>


    <!--  新增 -->
    <insert id="insert" parameterType="com.centit.shopping.po.ShoppingBirthUser">
        <![CDATA[
			insert into shopping_birth_user
		]]>
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userId != null and userId != ''" >
                <![CDATA[
                    user_id,
                ]]>
            </if>
            <if test="yearStr != null and yearStr != ''" >
                <![CDATA[
                    year_str,
                ]]>
            </if>

                <![CDATA[
                    addTime,
                ]]>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userId != null and userId != ''" >
                <![CDATA[
                    #{userId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="yearStr != null and yearStr != ''" >
                <![CDATA[
                    #{yearStr,jdbcType=VARCHAR},
                ]]>
            </if>
            now(),
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.centit.shopping.po.ShoppingBirthUser" >
        <![CDATA[
        	update shopping_birth_user
        ]]>
        <set >
            <if test="userId != null and userId != ''" >
                <![CDATA[
                    user_id = #{userId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="yearStr != null and yearStr != ''" >
                <![CDATA[
                    year_str = #{yearStr,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="addTime != null and addTime != ''" >
                <![CDATA[
                    addTime = #{addTime,jdbcType=VARCHAR},
                ]]>
            </if>
        </set>
        <where>
            <![CDATA[
                AND user_id = #{userId ,jdbcType=VARCHAR}
            ]]>
        </where>
    </update>


    <!-- 删除 -->
    <delete id="delete"  parameterType="com.centit.shopping.po.ShoppingBirthUser">
        <![CDATA[
            delete from shopping_birth_user
        ]]>
        <where>
            <![CDATA[
                AND user_id = #{userId ,jdbcType=VARCHAR}
            ]]>
        </where>
    </delete>


    <!--  查询详情 -->
    <select id="queryDetail" resultMap="BaseResultMap" parameterType="com.centit.shopping.po.ShoppingBirthUser">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from shopping_birth_user t
        ]]>
        <where>
            <![CDATA[
                AND user_id = #{userId ,jdbcType=VARCHAR}
            ]]>
            <![CDATA[
                AND year_str = #{yearStr ,jdbcType=VARCHAR}
            ]]>
        </where>
    </select>

    <!--  查询列表 -->
    <select id="queryList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from shopping_birth_user t
        ]]>
        <where>
            <include refid="Base_Where_List" />
        </where>
    </select>

</mapper>
