<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.shopping.dao.ShoppingActivityDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.centit.shopping.po.ShoppingActivity">
        <id column="id" property="id" />
        <result column="addTime" property="addTime" />
        <result column="deleteStatus" property="deleteStatus" />
        <result column="ac_begin_time" property="acBeginTime" />
        <result column="ac_content" property="acContent" />
        <result column="ac_end_time" property="acEndTime" />
        <result column="ac_sequence" property="acSequence" />
        <result column="ac_status" property="acStatus" />
        <result column="ac_title" property="acTitle" />
        <result column="ac_acc_id" property="acAccId" />
        <result column="ac_home" property="acHome" />
        <result column="ac_home_photo" property="acHomePhoto" />
    </resultMap>

    <!-- 通用查询结果列(横着排列) -->
    <sql id="Base_Column_List1">
        id, addTime, deleteStatus, ac_begin_time, ac_content, ac_end_time, ac_sequence, ac_status, ac_title, ac_acc_id, ac_home, ac_home_photo
    </sql>

    <!-- 通用查询结果列(竖着排列) -->
    <sql id="Base_Column_List2">
        id
          ,
        addTime
          ,
        deleteStatus
          ,
        ac_begin_time
          ,
        ac_content
          ,
        ac_end_time
          ,
        ac_sequence
          ,
        ac_status
          ,
        ac_title
          ,
        ac_acc_id
          ,
        ac_home
          ,
        ac_home_photo
    </sql>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_List">
        <if test="id != null and id != ''">
            <![CDATA[
                AND id = #{id ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="addTime != null and addTime != ''">
            <![CDATA[
                AND addTime = #{addTime ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="deleteStatus != null and deleteStatus != ''">
            <![CDATA[
                AND deleteStatus = #{deleteStatus ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="acBeginTime != null and acBeginTime != ''">
            <![CDATA[
                AND ac_begin_time = #{acBeginTime ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="acContent != null and acContent != ''">
            <![CDATA[
                AND ac_content = #{acContent ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="acEndTime != null and acEndTime != ''">
            <![CDATA[
                AND ac_end_time = #{acEndTime ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="acSequence != null and acSequence != ''">
            <![CDATA[
                AND ac_sequence = #{acSequence ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="acStatus != null">
            <![CDATA[
                AND ac_status = #{acStatus ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="acTitle != null and acTitle != ''">
            <![CDATA[
                AND ac_title like concat('%', #{acTitle,jdbcType=VARCHAR}, '%')
            ]]>
        </if>
        <if test="acAccId != null and acAccId != ''">
            <![CDATA[
                AND ac_acc_id = #{acAccId ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="acHome != null">
            <![CDATA[
                AND ac_home = #{acHome ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="acHomePhoto != null and acHomePhoto != ''">
            <![CDATA[
                AND ac_home_photo = #{acHomePhoto ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="timeStr !=null and timeStr !='' ">
            <![CDATA[
                AND ac_end_time  >=  #{timeStr}
            ]]>
        </if>
        <if test="timeStr !=null and timeStr!='' "  >
            <![CDATA[
                and ac_begin_time <=  #{timeStr}
             ]]>
        </if>
        <if test="userId !=null and userId!='' "  >
            <![CDATA[
                and id not in (select ac_id from shopping_activity_user where user_id = #{userId ,jdbcType=VARCHAR})
             ]]>
        </if>
    </sql>


    <!--  新增 -->
    <insert id="insert" parameterType="com.centit.shopping.po.ShoppingActivity"  useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
			insert into shopping_activity
		]]>
        <trim prefix="(" suffix=")" suffixOverrides="," >

                <![CDATA[
                    addTime,
                ]]>
            <if test="deleteStatus != null and deleteStatus != ''" >
                <![CDATA[
                    deleteStatus,
                ]]>
            </if>
            <if test="acBeginTime != null and acBeginTime != ''" >
                <![CDATA[
                    ac_begin_time,
                ]]>
            </if>
            <if test="acContent != null and acContent != ''" >
                <![CDATA[
                    ac_content,
                ]]>
            </if>
            <if test="acEndTime != null and acEndTime != ''" >
                <![CDATA[
                    ac_end_time,
                ]]>
            </if>
            <if test="acSequence != null" >
                <![CDATA[
                    ac_sequence,
                ]]>
            </if>
            <if test="acStatus != null" >
                <![CDATA[
                    ac_status,
                ]]>
            </if>
            <if test="acTitle != null and acTitle != ''" >
                <![CDATA[
                    ac_title,
                ]]>
            </if>
            <if test="acAccId != null and acAccId != ''" >
                <![CDATA[
                    ac_acc_id,
                ]]>
            </if>
            <if test="acHome != null" >
                <![CDATA[
                    ac_home,
                ]]>
            </if>
            <if test="acHomePhoto != null and acHomePhoto != ''" >
                <![CDATA[
                    ac_home_photo,
                ]]>
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >

            now(),
            <if test="deleteStatus != null and deleteStatus != ''" >
                <![CDATA[
                    #{deleteStatus,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="acBeginTime != null and acBeginTime != ''" >
                <![CDATA[
                    #{acBeginTime,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="acContent != null and acContent != ''" >
                <![CDATA[
                    #{acContent,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="acEndTime != null and acEndTime != ''" >
                <![CDATA[
                    #{acEndTime,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="acSequence != null" >
                <![CDATA[
                    #{acSequence,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="acStatus != null" >
                <![CDATA[
                    #{acStatus,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="acTitle != null and acTitle != ''" >
                <![CDATA[
                    #{acTitle,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="acAccId != null and acAccId != ''" >
                <![CDATA[
                    #{acAccId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="acHome != null" >
                <![CDATA[
                    #{acHome,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="acHomePhoto != null and acHomePhoto != ''" >
                <![CDATA[
                    #{acHomePhoto,jdbcType=VARCHAR},
                ]]>
            </if>
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.centit.shopping.po.ShoppingActivity" >
        <![CDATA[
        	update shopping_activity
        ]]>
        <set >
            <if test="id != null and id != ''" >
                <![CDATA[
                    id = #{id,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="addTime != null and addTime != ''" >
                <![CDATA[
                    addTime = #{addTime,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="deleteStatus != null and deleteStatus != ''" >
                <![CDATA[
                    deleteStatus = #{deleteStatus,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="acBeginTime != null and acBeginTime != ''" >
                <![CDATA[
                    ac_begin_time = #{acBeginTime,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="acContent != null and acContent != ''" >
                <![CDATA[
                    ac_content = #{acContent,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="acEndTime != null and acEndTime != ''" >
                <![CDATA[
                    ac_end_time = #{acEndTime,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="acSequence != null" >
                <![CDATA[
                    ac_sequence = #{acSequence,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="acStatus != null" >
                <![CDATA[
                    ac_status = #{acStatus,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="acTitle != null and acTitle != ''" >
                <![CDATA[
                    ac_title = #{acTitle,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="acAccId != null and acAccId != ''" >
                <![CDATA[
                    ac_acc_id = #{acAccId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="acHome != null" >
                <![CDATA[
                    ac_home = #{acHome,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="acHomePhoto != null and acHomePhoto != ''" >
                <![CDATA[
                    ac_home_photo = #{acHomePhoto,jdbcType=VARCHAR},
                ]]>
            </if>
        </set>
        <where>
            <![CDATA[
                and id = #{id ,jdbcType=VARCHAR }
            ]]>
        </where>
    </update>


    <!-- 删除 -->
    <delete id="delete"  parameterType="com.centit.shopping.po.ShoppingActivity">
        <![CDATA[
            delete from shopping_activity
        ]]>
        <where>
            <![CDATA[
                and id = #{id ,jdbcType=VARCHAR }
            ]]>
        </where>
    </delete>


    <!--  查询详情 -->
    <select id="queryDetail" resultMap="BaseResultMap" parameterType="com.centit.shopping.po.ShoppingActivity">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from shopping_activity t
        ]]>
        <where>
            <![CDATA[
                and id = #{id ,jdbcType=VARCHAR }
            ]]>
        </where>
    </select>

    <!--  查询列表 -->
    <select id="queryList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from shopping_activity t
        ]]>
        <where>
            <include refid="Base_Where_List" />
        </where>
        order by t.ac_sequence desc
        <if test="pageSize != '' and pageSize != null">
            <![CDATA[
                    limit #{startRow,jdbcType=INTEGER} , #{pageSize,jdbcType=INTEGER}
                ]]>
        </if>
    </select>

    <!--  查询列表数量 -->
    <select id="queryTotalCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
        <![CDATA[
            SELECT count(0) FROM shopping_activity
        ]]>
        <where>
            <include refid="Base_Where_List"/>
        </where>
    </select>
</mapper>
