<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.shopping.dao.ShoppingArtclassExtraDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.centit.shopping.po.ShoppingArtclassExtra">
        <id column="class_id" property="classId" />
        <result column="mobile" property="mobile" />
        <result column="addTime" property="addTime" />
    </resultMap>

    <!-- 通用查询结果列(横着排列) -->
    <sql id="Base_Column_List1">
        class_id, mobile, addTime
    </sql>

    <!-- 通用查询结果列(竖着排列) -->
    <sql id="Base_Column_List2">
        class_id
          ,
        mobile
          ,
        addTime
    </sql>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_List">
        <if test="classId != null and classId != ''">
            <![CDATA[
                AND class_id = #{classId ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="mobile != null and mobile != ''">
            <![CDATA[
                AND mobile = #{mobile ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="addTime != null and addTime != ''">
            <![CDATA[
                AND addTime = #{addTime ,jdbcType=VARCHAR}
            ]]>
        </if>
    </sql>


    <!--  新增 -->
    <insert id="insert" parameterType="com.centit.shopping.po.ShoppingArtclassExtra">
        <![CDATA[
			insert into shopping_artclass_extra
		]]>
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="classId != null and classId != ''" >
                <![CDATA[
                    class_id,
                ]]>
            </if>
            <if test="mobile != null and mobile != ''" >
                <![CDATA[
                    mobile,
                ]]>
            </if>

                <![CDATA[
                    addTime,
                ]]>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="classId != null and classId != ''" >
                <![CDATA[
                    #{classId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="mobile != null and mobile != ''" >
                <![CDATA[
                    #{mobile,jdbcType=VARCHAR},
                ]]>
            </if>
            now(),
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.centit.shopping.po.ShoppingArtclassExtra" >
        <![CDATA[
        	update shopping_artclass_extra
        ]]>
        <set >
            <if test="classId != null and classId != ''" >
                <![CDATA[
                    class_id = #{classId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="mobile != null and mobile != ''" >
                <![CDATA[
                    mobile = #{mobile,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="addTime != null and addTime != ''" >
                <![CDATA[
                    addTime = #{addTime,jdbcType=VARCHAR},
                ]]>
            </if>
        </set>
        <where>
            <![CDATA[
                and class_id = #{classId ,jdbcType=VARCHAR }
            ]]>
        </where>
    </update>


    <!-- 删除 -->
    <delete id="delete"  parameterType="com.centit.shopping.po.ShoppingArtclassExtra">
        <![CDATA[
            delete from shopping_artclass_extra
        ]]>
        <where>
            <![CDATA[
                and class_id = #{classId ,jdbcType=VARCHAR }
            ]]>
            <![CDATA[
                and mobile = #{mobile ,jdbcType=VARCHAR }
            ]]>
        </where>
    </delete>


    <!--  查询详情 -->
    <select id="queryDetail" resultMap="BaseResultMap" parameterType="com.centit.shopping.po.ShoppingArtclassExtra">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from shopping_artclass_extra t
        ]]>
        <where>
            <![CDATA[
                and class_id = #{classId ,jdbcType=VARCHAR }
            ]]>
            <![CDATA[
                and mobile = #{mobile ,jdbcType=VARCHAR }
            ]]>
        </where>
    </select>

    <!--  查询列表 -->
    <select id="queryList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from shopping_artclass_extra t
        ]]>
        <where>
            <include refid="Base_Where_List" />
        </where>
    </select>

</mapper>
