<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.shopping.dao.ShoppingArtclassSignupinfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.centit.shopping.po.ShoppingArtclassSignupinfo">
        <id column="id" property="id" />
        <result column="class_id" property="classId" />
        <result column="of_id" property="ofId" />
        <result column="signup_info" property="signupInfo" />
    </resultMap>

    <!-- 通用查询结果列(横着排列) -->
    <sql id="Base_Column_List1">
        id, class_id, of_id, signup_info
    </sql>

    <!-- 通用查询结果列(竖着排列) -->
    <sql id="Base_Column_List2">
        id
          ,
        class_id
          ,
        of_id
          ,
        signup_info
    </sql>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_List">
        <if test="id != null and id != ''">
            <![CDATA[
                AND id = #{id ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="classId != null and classId != ''">
            <![CDATA[
                AND class_id = #{classId ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="ofId != null and ofId != ''">
            <![CDATA[
                AND of_id = #{ofId ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="signupInfo != null and signupInfo != ''">
            <![CDATA[
                AND signup_info = #{signupInfo ,jdbcType=VARCHAR}
            ]]>
        </if>
    </sql>


    <!--  新增 -->
    <insert id="insert" parameterType="com.centit.shopping.po.ShoppingArtclassSignupinfo">
        <![CDATA[
			insert into shopping_artclass_signupinfo
		]]>
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != '' and id != null" >
                <![CDATA[
                    id,
                ]]>
            </if>
            <if test="classId != '' and classId != null" >
                <![CDATA[
                    class_id,
                ]]>
            </if>
            <if test="ofId != '' and ofId != null" >
                <![CDATA[
                    of_id,
                ]]>
            </if>
            <if test="signupInfo != '' and signupInfo != null" >
                <![CDATA[
                    signup_info,
                ]]>
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != '' and id != null" >
                <![CDATA[
                    #{id,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="classId != '' and classId != null" >
                <![CDATA[
                    #{classId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="ofId != '' and ofId != null" >
                <![CDATA[
                    #{ofId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="signupInfo != '' and signupInfo != null" >
                <![CDATA[
                    #{signupInfo,jdbcType=VARCHAR},
                ]]>
            </if>
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.centit.shopping.po.ShoppingArtclassSignupinfo" >
        <![CDATA[
        	update shopping_artclass_signupinfo
        ]]>
        <set >
            <if test="id != '' and id != null" >
                <![CDATA[
                    id = #{id,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="classId != '' and classId != null" >
                <![CDATA[
                    class_id = #{classId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="ofId != '' and ofId != null" >
                <![CDATA[
                    of_id = #{ofId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="signupInfo != '' and signupInfo != null" >
                <![CDATA[
                    signup_info = #{signupInfo,jdbcType=VARCHAR},
                ]]>
            </if>
        </set>
        <where>
            <![CDATA[
                and id = #{id ,jdbcType=VARCHAR }
            ]]>
        </where>
    </update>


    <!-- 删除 -->
    <delete id="delete"  parameterType="com.centit.shopping.po.ShoppingArtclassSignupinfo">
        <![CDATA[
            delete from shopping_artclass_signupinfo
        ]]>
        <where>
            <![CDATA[
                and id = #{id ,jdbcType=VARCHAR }
            ]]>
        </where>
    </delete>


    <!--  查询详情 -->
    <select id="queryDetail" resultMap="BaseResultMap" parameterType="com.centit.shopping.po.ShoppingArtclassSignupinfo">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from shopping_artclass_signupinfo t
        ]]>
        <where>
                <![CDATA[
                AND class_id = #{classId ,jdbcType=VARCHAR}
            ]]>


                <![CDATA[
                AND of_id = #{ofId ,jdbcType=VARCHAR}
            ]]>

        </where>
    </select>

    <!--  查询列表 -->
    <select id="queryList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from shopping_artclass_signupinfo t
        ]]>
        <where>
            <include refid="Base_Where_List" />
        </where>
    </select>

    <!--  查询列表 -->
    <select id="querySignupInfos" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        <![CDATA[
            select t.*
        ]]>
        <![CDATA[
            from shopping_artclass_signupinfo t left join shopping_orderform so on t.of_id = so.id
        ]]>
        <where>
            <![CDATA[
                AND t.class_id = #{classId ,jdbcType=VARCHAR}
            ]]>
            <![CDATA[
                AND (so.order_status = 20 or so.order_status = 30 or so.order_status = 50)
            ]]>
        </where>
        order by so.addTime desc
        <if test="pageSize != '' and pageSize != null">
            <![CDATA[
                    limit #{startRow,jdbcType=INTEGER} , #{pageSize,jdbcType=INTEGER}
                ]]>
        </if>
    </select>

    <select id="querySignupInfoCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
        <![CDATA[
            SELECT count(0) from from shopping_artclass_signupinfo t left join shopping_orderform so on t.of_id = so.id
        ]]>
        <where>
            <![CDATA[
                AND t.class_id = #{classId ,jdbcType=VARCHAR}
            ]]>
            <![CDATA[
                AND (so.order_status = 20 or so.order_status = 30 or so.order_status = 50)
            ]]>
        </where>

    </select>
</mapper>
