<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.shopping.dao.ShoppingCouponDirectgrantDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.centit.shopping.po.ShoppingCouponDirectgrant">
        <result column="right_no" property="rightNo" />
        <result column="add_time" property="addTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列(横着排列) -->
    <sql id="Base_Column_List1">
        right_no, add_time, is_delete
    </sql>

    <!-- 通用查询结果列(竖着排列) -->
    <sql id="Base_Column_List2">
        right_no
          ,
        add_time
        ,
        is_delete
    </sql>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_List">
        <if test="rightNo != null and rightNo != ''">
            <![CDATA[
                AND right_no = #{rightNo ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="addTime != null and addTime != ''">
            <![CDATA[
                AND add_time = #{addTime ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="isDelete != null and isDelete != ''">
            <![CDATA[
                AND is_delete = #{isDelete ,jdbcType=VARCHAR}
            ]]>
        </if>
    </sql>


    <!--  新增 -->
    <insert id="insert" parameterType="com.centit.shopping.po.ShoppingCouponDirectgrant">
        <![CDATA[
			insert into shopping_coupon_directgrant
		]]>
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="rightNo != null and rightNo != ''" >
                <![CDATA[
                    right_no,
                ]]>
            </if>

                <![CDATA[
                    add_time,
                ]]>
            <if test="isDelete != null and isDelete != ''" >
                <![CDATA[
                    is_delete,
                ]]>
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="rightNo != null and rightNo != ''" >
                <![CDATA[
                    #{rightNo,jdbcType=VARCHAR},
                ]]>
            </if>
            now(),
            <if test="isDelete != null and isDelete != ''" >
                <![CDATA[
                    #{isDelete,jdbcType=VARCHAR},
                ]]>
            </if>
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.centit.shopping.po.ShoppingCouponDirectgrant" >
        <![CDATA[
        	update shopping_coupon_directgrant
        ]]>
        <set >
            <if test="rightNo != null and rightNo != ''" >
                <![CDATA[
                    right_no = #{rightNo,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="addTime != null and addTime != ''" >
                <![CDATA[
                    add_time = #{addTime,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="isDelete != null and isDelete != ''" >
                <![CDATA[
                    is_delete = #{isDelete,jdbcType=VARCHAR},
                ]]>
            </if>
        </set>
        <where>
            <![CDATA[
                AND right_no = #{rightNo ,jdbcType=VARCHAR}
            ]]>
        </where>
    </update>


    <!-- 删除 -->
    <delete id="delete"  parameterType="com.centit.shopping.po.ShoppingCouponDirectgrant">
        <![CDATA[
            delete from shopping_coupon_directgrant
        ]]>
        <where>
            <![CDATA[
                AND right_no = #{rightNo ,jdbcType=VARCHAR}
            ]]>
        </where>
    </delete>


    <!--  查询详情 -->
    <select id="queryDetail" resultMap="BaseResultMap" parameterType="com.centit.shopping.po.ShoppingCouponDirectgrant">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from shopping_coupon_directgrant t
        ]]>
        <where>
            <![CDATA[
                AND right_no = #{rightNo ,jdbcType=VARCHAR}
            ]]>
        </where>
    </select>

    <!--  查询列表 -->
    <select id="queryList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from shopping_coupon_directgrant t
        ]]>
        <where>
            <include refid="Base_Where_List" />
        </where>
    </select>

</mapper>
