<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.shopping.dao.ShoppingArtplanInfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.centit.shopping.po.ShoppingArtplanInfo">
        <id column="id" property="id" />
        <result column="activity_id" property="activityId" />
        <result column="info_id" property="infoId" />
        <result column="required" property="required" />
    </resultMap>

    <!-- 通用查询结果列(横着排列) -->
    <sql id="Base_Column_List1">
        id, activity_id, info_id, required
    </sql>

    <!-- 通用查询结果列(竖着排列) -->
    <sql id="Base_Column_List2">
        id
          ,
        activity_id
          ,
        info_id
          ,
        required
    </sql>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_List">
        <if test="id != null and id != ''">
            <![CDATA[
                AND id = #{id ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="activityId != null and activityId != ''">
            <![CDATA[
                AND activity_id = #{activityId ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="infoId != null and infoId != ''">
            <![CDATA[
                AND info_id = #{infoId ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="required != null and required != ''">
            <![CDATA[
                AND required = #{required ,jdbcType=VARCHAR}
            ]]>
        </if>
    </sql>


    <!--  新增 -->
    <insert id="insert" parameterType="com.centit.shopping.po.ShoppingArtplanInfo">
        <![CDATA[
			insert into shopping_artplan_info
		]]>
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null and id != ''" >
                <![CDATA[
                    id,
                ]]>
            </if>
            <if test="activityId != null and activityId != ''" >
                <![CDATA[
                    activity_id,
                ]]>
            </if>
            <if test="infoId != null and infoId != ''" >
                <![CDATA[
                    info_id,
                ]]>
            </if>
            <if test="required != null and required != ''" >
                <![CDATA[
                    required,
                ]]>
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null and id != ''" >
                <![CDATA[
                    #{id,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="activityId != null and activityId != ''" >
                <![CDATA[
                    #{activityId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="infoId != null and infoId != ''" >
                <![CDATA[
                    #{infoId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="required != null and required != ''" >
                <![CDATA[
                    #{required,jdbcType=VARCHAR},
                ]]>
            </if>
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.centit.shopping.po.ShoppingArtplanInfo" >
        <![CDATA[
        	update shopping_artplan_info
        ]]>
        <set >
            <if test="id != null and id != ''" >
                <![CDATA[
                    id = #{id,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="activityId != null and activityId != ''" >
                <![CDATA[
                    activity_id = #{activityId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="infoId != null and infoId != ''" >
                <![CDATA[
                    info_id = #{infoId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="required != null and required != ''" >
                <![CDATA[
                    required = #{required,jdbcType=VARCHAR},
                ]]>
            </if>
        </set>
        <where>
            <![CDATA[
                and id = #{id ,jdbcType=VARCHAR }
            ]]>
        </where>
    </update>


    <!-- 删除 -->
    <delete id="delete"  parameterType="com.centit.shopping.po.ShoppingArtplanInfo">
        <![CDATA[
            delete from shopping_artplan_info
        ]]>
        <where>
            <![CDATA[
                and id = #{id ,jdbcType=VARCHAR }
            ]]>
        </where>
    </delete>

    <delete id="deleteByArtplanId">
        <![CDATA[
            delete from shopping_artplan_info
        ]]>
        <where>
            <![CDATA[
                and activity_id = #{activityId ,jdbcType=VARCHAR }
            ]]>
        </where>
    </delete>

    <!--  查询详情 -->
    <select id="queryDetail" resultMap="BaseResultMap" parameterType="com.centit.shopping.po.ShoppingArtplanInfo">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from shopping_artplan_info t
        ]]>
        <where>
            <![CDATA[
                and id = #{id ,jdbcType=VARCHAR }
            ]]>
        </where>
    </select>

    <!--  查询列表 -->
    <select id="queryList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from shopping_artplan_info t
        ]]>
        <where>
            <include refid="Base_Where_List" />
        </where>
    </select>

</mapper>
