<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.shopping.dao.ShoppingArtplanPhotoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.centit.shopping.po.ShoppingArtplanPhoto">
        <result column="activity_id" property="activityId" />
        <result column="photo_id" property="photoId" />
    </resultMap>

    <!-- 通用查询结果列(横着排列) -->
    <sql id="Base_Column_List1">
        activity_id, photo_id
    </sql>

    <!-- 通用查询结果列(竖着排列) -->
    <sql id="Base_Column_List2">
        activity_id
          ,
        photo_id
    </sql>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_List">
        <if test="activityId != null and activityId != ''">
            <![CDATA[
                AND activity_id = #{activityId ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="photoId != null and photoId != ''">
            <![CDATA[
                AND photo_id = #{photoId ,jdbcType=VARCHAR}
            ]]>
        </if>
    </sql>


    <!--  新增 -->
    <insert id="insert" parameterType="com.centit.shopping.po.ShoppingArtplanPhoto">
        <![CDATA[
			insert into shopping_artplan_photo
		]]>
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="activityId != null and activityId != ''" >
                <![CDATA[
                    activity_id,
                ]]>
            </if>
            <if test="photoId != null and photoId != ''" >
                <![CDATA[
                    photo_id,
                ]]>
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="activityId != null and activityId != ''" >
                <![CDATA[
                    #{activityId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="photoId != null and photoId != ''" >
                <![CDATA[
                    #{photoId,jdbcType=VARCHAR},
                ]]>
            </if>
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.centit.shopping.po.ShoppingArtplanPhoto" >
        <![CDATA[
        	update shopping_artplan_photo
        ]]>
        <set >
            <if test="activityId != null and activityId != ''" >
                <![CDATA[
                    activity_id = #{activityId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="photoId != null and photoId != ''" >
                <![CDATA[
                    photo_id = #{photoId,jdbcType=VARCHAR},
                ]]>
            </if>
        </set>
        <where>
            <![CDATA[
                and activity_id = #{activityId ,jdbcType=VARCHAR }
            ]]>
        </where>
    </update>


    <!-- 删除 -->
    <delete id="delete"  parameterType="com.centit.shopping.po.ShoppingArtplanPhoto">
        <![CDATA[
            delete from shopping_artplan_photo
        ]]>
        <where>
            <![CDATA[
                and activity_id = #{activityId ,jdbcType=VARCHAR }
            ]]>
        </where>
    </delete>


    <!--  查询详情 -->
    <select id="queryDetail" resultMap="BaseResultMap" parameterType="com.centit.shopping.po.ShoppingArtplanPhoto">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from shopping_artplan_photo t
        ]]>
        <where>
        </where>
    </select>

    <!--  查询列表 -->
    <select id="queryList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from shopping_artplan_photo t
        ]]>
        <where>
            <include refid="Base_Where_List" />
        </where>
    </select>

</mapper>
