<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.shopping.dao.ShoppingIntegralTotalDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.centit.shopping.po.ShoppingIntegralTotal">
        <result column="daily_total_integral" property="dailyTotalIntegral" />
        <result column="shopping_integral_switch" property="shoppingIntegralSwitch" />
    </resultMap>

    <!-- 通用查询结果列(横着排列) -->
    <sql id="Base_Column_List1">
        daily_total_integral,shopping_integral_switch
    </sql>

    <!-- 通用查询结果列(竖着排列) -->
    <sql id="Base_Column_List2">
        daily_total_integral
        ,
        shopping_integral_switch
    </sql>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_List">
        <if test="dailyTotalIntegral != null and dailyTotalIntegral != ''">
            <![CDATA[
                AND daily_total_integral = #{dailyTotalIntegral ,jdbcType=VARCHAR}
            ]]>
            <![CDATA[
                AND shopping_integral_switch = #{shoppingIntegralSwitch ,jdbcType=VARCHAR}
            ]]>
        </if>
    </sql>


    <!--  新增 -->
    <insert id="insert" parameterType="com.centit.shopping.po.ShoppingIntegralTotal">
        <![CDATA[
			insert into shopping_integral_total
		]]>
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="dailyTotalIntegral != null and dailyTotalIntegral != ''" >
                <![CDATA[
                    daily_total_integral,
                ]]>
            </if>
            <if test="shoppingIntegralSwitch != null and shoppingIntegralSwitch != ''" >
                <![CDATA[
                    shopping_integral_switch,
                ]]>
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="dailyTotalIntegral != null and dailyTotalIntegral != ''" >
                <![CDATA[
                    #{dailyTotalIntegral,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="shoppingIntegralSwitch != null and shoppingIntegralSwitch != ''" >
                <![CDATA[
                    #{shoppingIntegralSwitch,jdbcType=VARCHAR},
                ]]>
            </if>
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.centit.shopping.po.ShoppingIntegralTotal" >
        <![CDATA[
        	update shopping_integral_total
        ]]>
        <set >
            <if test="dailyTotalIntegral != null" >
                <![CDATA[
                    daily_total_integral = #{dailyTotalIntegral,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="shoppingIntegralSwitch != null" >
                <![CDATA[
                    shopping_integral_switch = #{shoppingIntegralSwitch,jdbcType=VARCHAR},
                ]]>
            </if>
        </set>
        <where>
        </where>
    </update>


    <!-- 删除 -->
    <delete id="delete"  parameterType="com.centit.shopping.po.ShoppingIntegralTotal">
        <![CDATA[
            delete from shopping_integral_total
        ]]>
        <where>
        </where>
    </delete>


    <!--  查询详情 -->
    <select id="queryDetail" resultMap="BaseResultMap" parameterType="com.centit.shopping.po.ShoppingIntegralTotal">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from shopping_integral_total t
        ]]>
        <where>
        </where>
    </select>

    <!--  查询列表 -->
    <select id="queryList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from shopping_integral_total t
        ]]>
        <where>
            <include refid="Base_Where_List" />
        </where>
    </select>

</mapper>
