<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.shopping.dao.ShoppingRechargeDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.centit.shopping.po.ShoppingRecharge">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="money_amount" property="moneyAmount" />
        <result column="pay_amount" property="payAmount" />
        <result column="status" property="status" />
        <result column="addTime" property="addTime" />
        <result column="deleteStatus" property="deleteStatus" />
    </resultMap>

    <!-- 通用查询结果列(横着排列) -->
    <sql id="Base_Column_List1">
        id, user_id, money_amount, pay_amount, status, addTime, deleteStatus
    </sql>

    <!-- 通用查询结果列(竖着排列) -->
    <sql id="Base_Column_List2">
        id
          ,
        user_id
          ,
        money_amount
          ,
        pay_amount
          ,
        status
          ,
        addTime
          ,
        deleteStatus
    </sql>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_List">
        <if test="id != null and id != ''">
            <![CDATA[
                AND id = #{id ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="userId != null and userId != ''">
            <![CDATA[
                AND user_id = #{userId ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="moneyAmount != null and moneyAmount != ''">
            <![CDATA[
                AND money_amount = #{moneyAmount ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="payAmount != null and payAmount != ''">
            <![CDATA[
                AND pay_amount = #{payAmount ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="status != null and status != ''">
            <![CDATA[
                AND status = #{status ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="addTime != null and addTime != ''">
            <![CDATA[
                AND addTime = #{addTime ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="deleteStatus != null and deleteStatus != ''">
            <![CDATA[
                AND deleteStatus = #{deleteStatus ,jdbcType=VARCHAR}
            ]]>
        </if>
    </sql>


    <!--  新增 -->
    <insert id="insert" parameterType="com.centit.shopping.po.ShoppingRecharge" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
			insert into shopping_recharge
		]]>
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userId != null and userId != ''" >
                <![CDATA[
                    user_id,
                ]]>
            </if>
            <if test="moneyAmount != null and moneyAmount != ''" >
                <![CDATA[
                    money_amount,
                ]]>
            </if>
            <if test="payAmount != null and payAmount != ''" >
                <![CDATA[
                    pay_amount,
                ]]>
            </if>
            <if test="status != null and status != ''" >
                <![CDATA[
                    status,
                ]]>
            </if>
                <![CDATA[
                    addTime,
                ]]>
            <if test="deleteStatus != null and deleteStatus != ''" >
                <![CDATA[
                    deleteStatus,
                ]]>
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userId != null and userId != ''" >
                <![CDATA[
                    #{userId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="moneyAmount != null and moneyAmount != ''" >
                <![CDATA[
                    #{moneyAmount,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="payAmount != null and payAmount != ''" >
                <![CDATA[
                    #{payAmount,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="status != null and status != ''" >
                <![CDATA[
                    #{status,jdbcType=VARCHAR},
                ]]>
            </if>
            now(),
            <if test="deleteStatus != null and deleteStatus != ''" >
                <![CDATA[
                    #{deleteStatus,jdbcType=VARCHAR},
                ]]>
            </if>
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.centit.shopping.po.ShoppingRecharge" >
        <![CDATA[
        	update shopping_recharge
        ]]>
        <set >
            <if test="id != null and id != ''" >
                <![CDATA[
                    id = #{id,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="userId != null and userId != ''" >
                <![CDATA[
                    user_id = #{userId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="moneyAmount != null and moneyAmount != ''" >
                <![CDATA[
                    money_amount = #{moneyAmount,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="payAmount != null and payAmount != ''" >
                <![CDATA[
                    pay_amount = #{payAmount,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="status != null and status != ''" >
                <![CDATA[
                    status = #{status,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="addTime != null and addTime != ''" >
                <![CDATA[
                    addTime = #{addTime,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="deleteStatus != null and deleteStatus != ''" >
                <![CDATA[
                    deleteStatus = #{deleteStatus,jdbcType=VARCHAR},
                ]]>
            </if>
        </set>
        <where>
            <![CDATA[
                and id = #{id ,jdbcType=VARCHAR }
            ]]>
        </where>
    </update>


    <!-- 删除 -->
    <delete id="delete"  parameterType="com.centit.shopping.po.ShoppingRecharge">
        <![CDATA[
            delete from shopping_recharge
        ]]>
        <where>
            <![CDATA[
                and id = #{id ,jdbcType=VARCHAR }
            ]]>
        </where>
    </delete>


    <!--  查询详情 -->
    <select id="queryDetail" resultMap="BaseResultMap" parameterType="com.centit.shopping.po.ShoppingRecharge">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from shopping_recharge t
        ]]>
        <where>
            <![CDATA[
                and id = #{id ,jdbcType=VARCHAR }
            ]]>
        </where>
    </select>

    <!--  查询列表 -->
    <select id="queryList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from shopping_recharge t
        ]]>
        <where>
            <include refid="Base_Where_List" />
        </where>
        order by t.addTime desc
        <if test="pageSize != '' and pageSize != null" >
            <![CDATA[
                    limit #{startRow,jdbcType=INTEGER} , #{pageSize,jdbcType=INTEGER}
                ]]>
        </if>
    </select>

    <!--  查询列表数量 -->
    <select id="queryTotalCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
        <![CDATA[
            SELECT count(0) FROM shopping_recharge
        ]]>
        <where>
            <include refid="Base_Where_List" />
        </where>
    </select>

    <!-- 更新 -->
    <update id="setRechargeStatus" parameterType="java.util.HashMap" >
        <![CDATA[
        	update shopping_recharge
        ]]>
        <set >

            <![CDATA[

                    status = #{status,jdbcType=VARCHAR},
                ]]>
        </set>
        <where>
            <![CDATA[
                AND id in
                (select goods_id from shopping_goodscart where of_id=#{ofId ,jdbcType=VARCHAR} and deleteStatus = 0)
            ]]>
            <![CDATA[
                AND user_id = #{userId ,jdbcType=VARCHAR}
            ]]>
        </where>
    </update>

    <!--  查询详情 -->
    <select id="queryRecharge" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from shopping_recharge t
        ]]>
        <where>
            <![CDATA[
                AND id in
                (select goods_id from shopping_goodscart where of_id=#{ofId ,jdbcType=VARCHAR} and deleteStatus = 0)
            ]]>
            <![CDATA[
                AND user_id = #{userId ,jdbcType=VARCHAR}
            ]]>
        </where>
    </select>
</mapper>
