<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.shopping.dao.ShoppingArtactivitySignupinfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.centit.shopping.po.ShoppingArtactivitySignupinfo">
        <id column="id" property="id" />
        <result column="activity_id" property="activityId" />
        <result column="activity_name" property="activityName" />
        <result column="of_id" property="ofId" />
        <result column="addTime" property="addTime" />
        <result column="signup_info" property="signupInfo" />
        <result column="signup_time" property="signupTime" />
        <result column="order_id" property="orderId" />
        <result column="out_trade_no" property="tradeNo" />
        <result column="mobile" property="mobile" />
    </resultMap>

    <!-- 通用查询结果列(横着排列) -->
    <sql id="Base_Column_List1">
        id, activity_id, of_id, signup_info
    </sql>

    <!-- 通用查询结果列(竖着排列) -->
    <sql id="Base_Column_List2">
        id
          ,
        activity_id
          ,
        of_id
          ,
        signup_info
    </sql>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_List">
        <if test="id != null and id != ''">
            <![CDATA[
                AND id = #{id ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="activityId != null and activityId != ''">
            <![CDATA[
                AND activity_id = #{activityId ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="ofId != null and ofId != ''">
            <![CDATA[
                AND of_id = #{ofId ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="signupInfo != null and signupInfo != ''">
            <![CDATA[
                AND signup_info = #{signupInfo ,jdbcType=VARCHAR}
            ]]>
        </if>
    </sql>


    <!--  新增 -->
    <insert id="insert" parameterType="com.centit.shopping.po.ShoppingArtactivitySignupinfo">
        <![CDATA[
			insert into shopping_artactivity_signupinfo
		]]>
        <trim prefix="(" suffix=")" suffixOverrides="," >

            <if test="activityId != '' and activityId != null" >
                <![CDATA[
                    activity_id,
                ]]>
            </if>
            <if test="ofId != '' and ofId != null" >
                <![CDATA[
                    of_id,
                ]]>
            </if>
            <if test="signupInfo != '' and signupInfo != null" >
                <![CDATA[
                    signup_info,
                ]]>
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >

            <if test="activityId != '' and activityId != null" >
                <![CDATA[
                    #{activityId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="ofId != '' and ofId != null" >
                <![CDATA[
                    #{ofId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="signupInfo != '' and signupInfo != null" >
                <![CDATA[
                    #{signupInfo,jdbcType=VARCHAR},
                ]]>
            </if>
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.centit.shopping.po.ShoppingArtactivitySignupinfo" >
        <![CDATA[
        	update shopping_artactivity_signupinfo
        ]]>
        <set >
            <if test="id != '' and id != null" >
                <![CDATA[
                    id = #{id,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="activityId != '' and activityId != null" >
                <![CDATA[
                    activity_id = #{activityId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="ofId != '' and ofId != null" >
                <![CDATA[
                    of_id = #{ofId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="signupInfo != '' and signupInfo != null" >
                <![CDATA[
                    signup_info = #{signupInfo,jdbcType=VARCHAR},
                ]]>
            </if>
        </set>
        <where>
            <![CDATA[
                and id = #{id ,jdbcType=VARCHAR }
            ]]>
        </where>
    </update>


    <!-- 删除 -->
    <delete id="delete"  parameterType="com.centit.shopping.po.ShoppingArtactivitySignupinfo">
        <![CDATA[
            delete from shopping_artactivity_signupinfo
        ]]>
        <where>
            <![CDATA[
                and id = #{id ,jdbcType=VARCHAR }
            ]]>
        </where>
    </delete>


    <!--  查询详情 -->
    <select id="queryDetail" resultMap="BaseResultMap" parameterType="com.centit.shopping.po.ShoppingArtactivitySignupinfo">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from shopping_artactivity_signupinfo t
        ]]>
        <where>
            <![CDATA[
                and id = #{id ,jdbcType=VARCHAR }
            ]]>

        </where>
    </select>

    <!--  查询列表 -->
    <select id="queryList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from shopping_artactivity_signupinfo t
        ]]>
        <where>
            <include refid="Base_Where_List" />
        </where>
    </select>

    <!--  查询列表 -->
    <select id="querySignupInfos" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        <![CDATA[
            select t.*,sa.activity_name activity_name,so.order_id order_id,so.addTime addTime,so.payTime signup_time,sop.out_trade_no out_trade_no,su.mobile
        ]]>
        <![CDATA[
            from shopping_artactivity_signupinfo t left join shopping_artactivity sa on t.activity_id = sa.id
                  left join shopping_orderform so on t.of_id = so.id
                                  left join shopping_order_pay sop on so.id = sop.of_id
                                  left join shopping_user su on so.user_id = su.id

        ]]>
        <where>
            <![CDATA[
                AND t.activity_id = #{activityId ,jdbcType=VARCHAR}
            ]]>
            <if test="ofId != '' and ofId != null" >
                <![CDATA[
                   AND t.of_id = #{ofId ,jdbcType=VARCHAR}
                ]]>
            </if>
            <![CDATA[
                AND (so.order_status = 20 or so.order_status = 30 or so.order_status = 50)
            ]]>
        </where>
        order by so.payTime desc
        <if test="pageSize != '' and pageSize != null">
            <![CDATA[
                    limit #{startRow,jdbcType=INTEGER} , #{pageSize,jdbcType=INTEGER}
                ]]>
        </if>
    </select>

    <!--  查询列表 -->
    <select id="querySignupInfosTest" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        <![CDATA[
            select t.*
        ]]>
        <![CDATA[
            from t_info_data t
        ]]>
    </select>

    <select id="querySignupInfoCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
        <![CDATA[
            SELECT count(0) from shopping_artactivity_signupinfo t left join shopping_orderform so on t.of_id = so.id
        ]]>
        <where>
            <![CDATA[
                AND t.activity_id = #{activityId ,jdbcType=VARCHAR}
            ]]>
            <![CDATA[
                AND (so.order_status = 20 or so.order_status = 30 or so.order_status = 50)
            ]]>
        </where>

    </select>


</mapper>
