<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.shopping.dao.TicketRedeemActivityBindDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.centit.shopping.po.TicketRedeemActivityBind">
        <id column="ID" property="id" />
        <result column="ACTIVITY_ID" property="activityId" />
        <result column="AMOUNT" property="amount" />
        <result column="START_CODE" property="startCode" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_USER" property="createUser" />
        <result column="CREATE_USER" property="createUser" />
        <result column="IS_DELETE" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列(横着排列) -->
    <sql id="Base_Column_List1">
        ID, ACTIVITY_ID, AMOUNT, START_CODE, CREATE_TIME, CREATE_USER, IS_DELETE
    </sql>

    <!-- 通用查询结果列(竖着排列) -->
    <sql id="Base_Column_List2">
        ID
          ,
        ACTIVITY_ID
          ,
        AMOUNT
          ,
        START_CODE
          ,
        CREATE_TIME
          ,
        CREATE_USER
          ,
        IS_DELETE
    </sql>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_List">
        <if test="id != null and id != ''">
            <![CDATA[
                AND ID = #{id ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="activityId != null and activityId != ''">
            <![CDATA[
                AND ACTIVITY_ID = #{activityId ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="amount != null and amount != ''">
            <![CDATA[
                AND AMOUNT = #{amount ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="startCode != null and startCode != ''">
            <![CDATA[
                AND START_CODE = #{startCode ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="createTime != null and createTime != ''">
            <![CDATA[
                AND CREATE_TIME = #{createTime ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="createUser != null and createUser != ''">
            <![CDATA[
                AND CREATE_USER = #{createUser ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="isDelete != null and isDelete != ''">
            <![CDATA[
                AND IS_DELETE = #{isDelete ,jdbcType=VARCHAR}
            ]]>
        </if>
    </sql>


    <!--  新增 -->
    <insert id="insert" parameterType="com.centit.shopping.po.TicketRedeemActivityBind"  useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
			insert into ticket_redeem_activity_bind
		]]>
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null and id != ''" >
                <![CDATA[
                    ID,
                ]]>
            </if>
            <if test="activityId != null and activityId != ''" >
                <![CDATA[
                    ACTIVITY_ID,
                ]]>
            </if>
            <if test="amount != null and amount != ''" >
                <![CDATA[
                    AMOUNT,
                ]]>
            </if>
            <if test="startCode != null and startCode != ''" >
                <![CDATA[
                    START_CODE,
                ]]>
            </if>
            <if test="createTime != null and createTime != ''" >
                <![CDATA[
                    CREATE_TIME,
                ]]>
            </if>
            <if test="createUser != null and createUser != ''" >
                <![CDATA[
                    CREATE_USER,
                ]]>
            </if>
            <if test="isDelete != null and isDelete != ''" >
                <![CDATA[
                    IS_DELETE,
                ]]>
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null and id != ''" >
                <![CDATA[
                    #{id,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="activityId != null and activityId != ''" >
                <![CDATA[
                    #{activityId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="amount != null and amount != ''" >
                <![CDATA[
                    #{amount,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="startCode != null and startCode != ''" >
                <![CDATA[
                    #{startCode,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="createTime != null and createTime != ''" >
                <![CDATA[
                    #{createTime,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="createUser != null and createUser != ''" >
                <![CDATA[
                    #{createUser,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="isDelete != null and isDelete != ''" >
                <![CDATA[
                    #{isDelete,jdbcType=VARCHAR},
                ]]>
            </if>
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.centit.shopping.po.TicketRedeemActivityBind" >
        <![CDATA[
        	update ticket_redeem_activity_bind
        ]]>
        <set >
            <if test="id != null and id != ''" >
                <![CDATA[
                    ID = #{id,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="activityId != null and activityId != ''" >
                <![CDATA[
                    ACTIVITY_ID = #{activityId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="amount != null and amount != ''" >
                <![CDATA[
                    AMOUNT = #{amount,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="startCode != null and startCode != ''" >
                <![CDATA[
                    START_CODE = #{startCode,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="createTime != null and createTime != ''" >
                <![CDATA[
                    CREATE_TIME = #{createTime,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="createUser != null and createUser != ''" >
                <![CDATA[
                    CREATE_USER = #{createUser,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="isDelete != null and isDelete != ''" >
                <![CDATA[
                    IS_DELETE = #{isDelete,jdbcType=VARCHAR},
                ]]>
            </if>
        </set>
        <where>
            <![CDATA[
                and ID = #{id ,jdbcType=VARCHAR }
            ]]>
        </where>
    </update>


    <!-- 删除 -->
    <delete id="delete"  parameterType="com.centit.shopping.po.TicketRedeemActivityBind">
        <![CDATA[
            delete from ticket_redeem_activity_bind
        ]]>
        <where>
            <![CDATA[
                and ID = #{id ,jdbcType=VARCHAR }
            ]]>
        </where>
    </delete>


    <!--  查询详情 -->
    <select id="queryDetail" resultMap="BaseResultMap" parameterType="com.centit.shopping.po.TicketRedeemActivityBind">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from ticket_redeem_activity_bind t
        ]]>
        <where>
            <![CDATA[
                and ID = #{id ,jdbcType=VARCHAR }
            ]]>
        </where>
    </select>

    <!--  查询列表 -->
    <select id="queryList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from ticket_redeem_activity_bind t
        ]]>
        <where>
            <include refid="Base_Where_List" />
        </where>
        order by t.CREATE_TIME desc
        <if test="pageSize != '' and pageSize != null">
            <![CDATA[
                    limit #{startRow,jdbcType=INTEGER} , #{pageSize,jdbcType=INTEGER}
                ]]>
        </if>
    </select>

    <!--  查询列表数量 -->
    <select id="queryTotalCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
        <![CDATA[
            SELECT count(0) FROM ticket_redeem_activity_bind
        ]]>
        <where>
            <include refid="Base_Where_List" />
        </where>
    </select>
</mapper>
