<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.shopping.dao.TInTestDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.centit.shopping.po.TInTest">
        <id column="id" property="id" />
        <result column="addtime" property="addtime" />
        <result column="mzstr" property="mzstr" />
        <result column="crmstr" property="crmstr" />
    </resultMap>

    <!-- 通用查询结果列(横着排列) -->
    <sql id="Base_Column_List1">
        id, addtime, mzstr, crmstr
    </sql>

    <!-- 通用查询结果列(竖着排列) -->
    <sql id="Base_Column_List2">
        id
          ,
        addtime
          ,
        mzstr
          ,
        crmstr
    </sql>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_List">
        <if test="id != null and id != ''">
            <![CDATA[
                AND id = #{id ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="addtime != null and addtime != ''">
            <![CDATA[
                AND addtime = #{addtime ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="mzstr != null and mzstr != ''">
            <![CDATA[
                AND mzstr = #{mzstr ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="crmstr != null and crmstr != ''">
            <![CDATA[
                AND crmstr = #{crmstr ,jdbcType=VARCHAR}
            ]]>
        </if>
    </sql>


    <!--  新增 -->
    <insert id="insert" parameterType="com.centit.shopping.po.TInTest">
        <![CDATA[
			insert into t_in_test
		]]>
        <trim prefix="(" suffix=")" suffixOverrides="," >


                <![CDATA[
                    addtime,
                ]]>

            <if test="mzstr != null and mzstr != ''" >
                <![CDATA[
                    mzstr,
                ]]>
            </if>
            <if test="crmstr != null and crmstr != ''" >
                <![CDATA[
                    crmstr,
                ]]>
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >

            now(),
            <if test="mzstr != null and mzstr != ''" >
                <![CDATA[
                    #{mzstr,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="crmstr != null and crmstr != ''" >
                <![CDATA[
                    #{crmstr,jdbcType=VARCHAR},
                ]]>
            </if>
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.centit.shopping.po.TInTest" >
        <![CDATA[
        	update t_in_test
        ]]>
        <set >
            <if test="id != null and id != ''" >
                <![CDATA[
                    id = #{id,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="addtime != null and addtime != ''" >
                <![CDATA[
                    addtime = #{addtime,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="mzstr != null and mzstr != ''" >
                <![CDATA[
                    mzstr = #{mzstr,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="crmstr != null and crmstr != ''" >
                <![CDATA[
                    crmstr = #{crmstr,jdbcType=VARCHAR},
                ]]>
            </if>
        </set>
        <where>
            <![CDATA[
                and id = #{id ,jdbcType=VARCHAR }
            ]]>
        </where>
    </update>


    <!-- 删除 -->
    <delete id="delete"  parameterType="com.centit.shopping.po.TInTest">
        <![CDATA[
            delete from t_in_test
        ]]>
        <where>
            <![CDATA[
                and id = #{id ,jdbcType=VARCHAR }
            ]]>
        </where>
    </delete>


    <!--  查询详情 -->
    <select id="queryDetail" resultMap="BaseResultMap" parameterType="com.centit.shopping.po.TInTest">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from t_in_test t
        ]]>
        <where>
            <![CDATA[
                and id = #{id ,jdbcType=VARCHAR }
            ]]>
        </where>
    </select>

    <!--  查询列表 -->
    <select id="queryList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from t_in_test t
        ]]>
        <where>
            <include refid="Base_Where_List" />
        </where>
    </select>

</mapper>
