<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.ticket.dao.TicketClassPhotoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.centit.ticket.po.TicketClassPhoto">
        <id column="class_id" property="classId" />
        <result column="photo_id" property="photoId" />
        <result column="sn" property="sn" />
    </resultMap>

    <!-- 通用查询结果列(横着排列) -->
    <sql id="Base_Column_List1">
        class_id, photo_id, sn
    </sql>

    <!-- 通用查询结果列(竖着排列) -->
    <sql id="Base_Column_List2">
        class_id
          ,
        photo_id
          ,
        sn
    </sql>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_List">
        <if test="classId != null and classId != ''">
            <![CDATA[
                AND class_id = #{classId ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="photoId != null and photoId != ''">
            <![CDATA[
                AND photo_id = #{photoId ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="sn != null and sn != ''">
            <![CDATA[
                AND sn = #{sn ,jdbcType=VARCHAR}
            ]]>
        </if>
    </sql>


    <!--  新增 -->
    <insert id="insert" parameterType="com.centit.ticket.po.TicketClassPhoto">
        <![CDATA[
			insert into ticket_class_photo
		]]>
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="classId != '' and classId != null" >
                <![CDATA[
                    class_id,
                ]]>
            </if>
            <if test="photoId != '' and photoId != null" >
                <![CDATA[
                    photo_id,
                ]]>
            </if>
            <if test="sn != '' and sn != null" >
                <![CDATA[
                    sn,
                ]]>
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="classId != '' and classId != null" >
                <![CDATA[
                    #{classId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="photoId != '' and photoId != null" >
                <![CDATA[
                    #{photoId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="sn != '' and sn != null" >
                <![CDATA[
                    #{sn,jdbcType=VARCHAR},
                ]]>
            </if>
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.centit.ticket.po.TicketClassPhoto" >
        <![CDATA[
        	update ticket_class_photo
        ]]>
        <set >
            <if test="classId != '' and classId != null" >
                <![CDATA[
                    class_id = #{classId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="photoId != '' and photoId != null" >
                <![CDATA[
                    photo_id = #{photoId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="sn != '' and sn != null" >
                <![CDATA[
                    sn = #{sn,jdbcType=VARCHAR},
                ]]>
            </if>
        </set>
        <where>
            <![CDATA[
                and class_id = #{classId ,jdbcType=VARCHAR }
            ]]>
        </where>
    </update>


    <!-- 删除 -->
    <delete id="delete"  parameterType="com.centit.ticket.po.TicketClassPhoto">
        <![CDATA[
            delete from ticket_class_photo
        ]]>
        <where>
            <![CDATA[
                and class_id = #{classId ,jdbcType=VARCHAR }
            ]]>
        </where>
    </delete>


    <!--  查询详情 -->
    <select id="queryDetail" resultMap="BaseResultMap" parameterType="com.centit.ticket.po.TicketClassPhoto">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from ticket_class_photo t
        ]]>
        <where>
            <![CDATA[
                and class_id = #{classId ,jdbcType=VARCHAR }
            ]]>
        </where>
    </select>

    <!--  查询列表 -->
    <select id="queryList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from ticket_class_photo t
        ]]>
        <where>
            <include refid="Base_Where_List" />
        </where>
    </select>

</mapper>
