<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.ticket.dao.TicketRealnameDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.centit.ticket.po.TicketRealname">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="collector_name" property="collectorName" />
        <result column="collector_card_type" property="collectorCardType" />
        <result column="collector_card_no" property="collectorCardNo" />
    </resultMap>

    <!-- 通用查询结果列(横着排列) -->
    <sql id="Base_Column_List1">
        id, user_id, collector_name, collector_card_type, collector_card_no
    </sql>

    <!-- 通用查询结果列(竖着排列) -->
    <sql id="Base_Column_List2">
        id
          ,
        user_id
          ,
        collector_name
          ,
        collector_card_type
          ,
        collector_card_no
    </sql>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_List">
        <if test="id != null and id != ''">
            <![CDATA[
                AND id = #{id ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="userId != null and userId != ''">
            <![CDATA[
                AND user_id = #{userId ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="collectorName != null and collectorName != ''">
            <![CDATA[
                AND collector_name = #{collectorName ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="collectorCardType != null and collectorCardType != ''">
            <![CDATA[
                AND collector_card_type = #{collectorCardType ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="collectorCardNo != null and collectorCardNo != ''">
            <![CDATA[
                AND collector_card_no = #{collectorCardNo ,jdbcType=VARCHAR}
            ]]>
        </if>
    </sql>


    <!--  新增 -->
    <insert id="insert" parameterType="com.centit.ticket.po.TicketRealname">
        <![CDATA[
			insert into ticket_realname
		]]>
        <trim prefix="(" suffix=")" suffixOverrides="," >

            <if test="userId != '' and userId != null" >
                <![CDATA[
                    user_id,
                ]]>
            </if>
            <if test="collectorName != '' and collectorName != null" >
                <![CDATA[
                    collector_name,
                ]]>
            </if>
            <if test="collectorCardType != '' and collectorCardType != null" >
                <![CDATA[
                    collector_card_type,
                ]]>
            </if>
            <if test="collectorCardNo != '' and collectorCardNo != null" >
                <![CDATA[
                    collector_card_no,
                ]]>
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >

            <if test="userId != '' and userId != null" >
                <![CDATA[
                    #{userId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="collectorName != '' and collectorName != null" >
                <![CDATA[
                    #{collectorName,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="collectorCardType != '' and collectorCardType != null" >
                <![CDATA[
                    #{collectorCardType,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="collectorCardNo != '' and collectorCardNo != null" >
                <![CDATA[
                    #{collectorCardNo,jdbcType=VARCHAR},
                ]]>
            </if>
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.centit.ticket.po.TicketRealname" >
        <![CDATA[
        	update ticket_realname
        ]]>
        <set >
            <if test="id != '' and id != null" >
                <![CDATA[
                    id = #{id,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="userId != '' and userId != null" >
                <![CDATA[
                    user_id = #{userId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="collectorName != '' and collectorName != null" >
                <![CDATA[
                    collector_name = #{collectorName,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="collectorCardType != '' and collectorCardType != null" >
                <![CDATA[
                    collector_card_type = #{collectorCardType,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="collectorCardNo != '' and collectorCardNo != null" >
                <![CDATA[
                    collector_card_no = #{collectorCardNo,jdbcType=VARCHAR},
                ]]>
            </if>
        </set>
        <where>
            <![CDATA[
                and id = #{id ,jdbcType=VARCHAR }
            ]]>
        </where>
    </update>


    <!-- 删除 -->
    <delete id="delete"  parameterType="com.centit.ticket.po.TicketRealname">
        <![CDATA[
            delete from ticket_realname
        ]]>
        <where>
            <![CDATA[
                and id = #{id ,jdbcType=VARCHAR }
            ]]>
        </where>
    </delete>


    <!--  查询详情 -->
    <select id="queryDetail" resultMap="BaseResultMap" parameterType="com.centit.ticket.po.TicketRealname">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from ticket_realname t
        ]]>
        <where>
            <![CDATA[
                and id = #{id ,jdbcType=VARCHAR }
            ]]>
        </where>
    </select>

    <!--  查询列表 -->
    <select id="queryList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from ticket_realname t
        ]]>
        <where>
            <include refid="Base_Where_List" />
        </where>
    </select>

</mapper>
