<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.ticket.dao.TicketProjectGuideDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.centit.ticket.po.TicketProjectGuide">
        <id column="project_id" property="projectId" />
        <result column="photo_id" property="photoId" />
    </resultMap>

    <!-- 通用查询结果列(横着排列) -->
    <sql id="Base_Column_List1">
        project_id, photo_id
    </sql>

    <!-- 通用查询结果列(竖着排列) -->
    <sql id="Base_Column_List2">
        project_id
          ,
        photo_id
    </sql>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_List">
        <if test="projectId != null and projectId != ''">
            <![CDATA[
                AND project_id = #{projectId ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="photoId != null and photoId != ''">
            <![CDATA[
                AND photo_id = #{photoId ,jdbcType=VARCHAR}
            ]]>
        </if>
    </sql>


    <!--  新增 -->
    <insert id="insert" parameterType="com.centit.ticket.po.TicketProjectGuide">
        <![CDATA[
			insert into ticket_project_guide
		]]>
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="projectId != '' and projectId != null" >
                <![CDATA[
                    project_id,
                ]]>
            </if>
            <if test="photoId != '' and photoId != null" >
                <![CDATA[
                    photo_id,
                ]]>
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="projectId != '' and projectId != null" >
                <![CDATA[
                    #{projectId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="photoId != '' and photoId != null" >
                <![CDATA[
                    #{photoId,jdbcType=VARCHAR},
                ]]>
            </if>
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.centit.ticket.po.TicketProjectGuide" >
        <![CDATA[
        	update ticket_project_guide
        ]]>
        <set >
            <if test="projectId != '' and projectId != null" >
                <![CDATA[
                    project_id = #{projectId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="photoId != '' and photoId != null" >
                <![CDATA[
                    photo_id = #{photoId,jdbcType=VARCHAR},
                ]]>
            </if>
        </set>
        <where>
            <![CDATA[
                and project_id = #{projectId ,jdbcType=VARCHAR }
            ]]>
        </where>
    </update>


    <!-- 删除 -->
    <delete id="delete"  parameterType="com.centit.ticket.po.TicketProjectGuide">
        <![CDATA[
            delete from ticket_project_guide
        ]]>
        <where>
            <![CDATA[
                and project_id = #{projectId ,jdbcType=VARCHAR }
            ]]>
        </where>
    </delete>


    <!--  查询详情 -->
    <select id="queryDetail" resultMap="BaseResultMap" parameterType="com.centit.ticket.po.TicketProjectGuide">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from ticket_project_guide t
        ]]>
        <where>
            <![CDATA[
                and project_id = #{projectId ,jdbcType=VARCHAR }
            ]]>
        </where>
    </select>

    <!--  查询列表 -->
    <select id="queryList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from ticket_project_guide t
        ]]>
        <where>
            <include refid="Base_Where_List" />
        </where>
    </select>

</mapper>
