<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.order.dao.ShoppingGoodscartDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.centit.order.po.ShoppingGoodscartPo">
        <id column="id" property="id" />
        <result column="addTime" property="addTime" />
        <result column="deleteStatus" property="deleteStatus" />
        <result column="count" property="count" />
        <result column="price" property="price" />
        <result column="integral" property="integral" />
        <result column="spec_info" property="specInfo" />
        <result column="goods_id" property="goodsId" />
        <result column="of_id" property="ofId" />
        <result column="cart_type" property="cartType" />
        <result column="sc_id" property="scId" />
        <result column="screen_price" property="screenPrice" />
        <result column="screen_safe" property="screenSafe" />
        <result column="anchor_id" property="anchorId" />
        <result column="propertys" property="propertys" />
        <result column="deduction_integral" property="deductionIntegral" />
        <result column="deduction_integral_price" property="deductionIntegralPrice" />
        <result column="deduction_member_price" property="deductionMemberPrice" />
        <result column="deduction_balance_price" property="deductionBalancePrice" />
        <result column="deduction_coupon_price" property="deductionCouponPrice" />
        <result column="deduction_giftcard_price" property="deductionGiftcardPrice" />
        <result column="pay_price" property="payPrice" />
        <result column="transport" property="transport" />
        <result column="ship_price" property="shipPrice" />
    </resultMap>

    <!-- 通用查询结果列(横着排列) -->
    <sql id="Base_Column_List1">
        id, addTime, deleteStatus, count, price, integral, spec_info, goods_id, of_id, cart_type, sc_id, screen_price, screen_safe, anchor_id, propertys,deduction_integral, deduction_integral_price, deduction_member_price, deduction_balance_price, deduction_coupon_price, deduction_giftcard_price,pay_price,transport,ship_price
    </sql>

    <!--  新增 -->
    <insert id="insert" parameterType="com.centit.order.po.ShoppingGoodscartPo"  useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
			insert into shopping_goodscart
		]]>
        <trim prefix="(" suffix=")" suffixOverrides="," >

                <![CDATA[
                    addTime,
                ]]>


                <![CDATA[
                    deleteStatus,
                ]]>

            <if test="count != '' and count != null" >
                <![CDATA[
                    count,
                ]]>
            </if>
            <if test="price != null" >
                <![CDATA[
                    price,
                ]]>
            </if>
            <if test="integral != '' and integral != null" >
                <![CDATA[
                    integral,
                ]]>
            </if>
            <if test="specInfo != '' and specInfo != null" >
                <![CDATA[
                    spec_info,
                ]]>
            </if>
            <if test="goodsId != '' and goodsId != null" >
                <![CDATA[
                    goods_id,
                ]]>
            </if>
            <if test="ofId != '' and ofId != null" >
                <![CDATA[
                    of_id,
                ]]>
            </if>
            <if test="cartType != '' and cartType != null" >
                <![CDATA[
                    cart_type,
                ]]>
            </if>
            <if test="scId != '' and scId != null" >
                <![CDATA[
                    sc_id,
                ]]>
            </if>
            <if test="screenPrice != '' and screenPrice != null" >
                <![CDATA[
                    screen_price,
                ]]>
            </if>
            <if test="screenSafe != '' and screenSafe != null" >
                <![CDATA[
                    screen_safe,
                ]]>
            </if>
            <if test="anchorId != '' and anchorId != null" >
                <![CDATA[
                    anchor_id,
                ]]>
            </if>
            <if test="propertys != '' and propertys != null" >
                <![CDATA[
                    propertys,
                ]]>
            </if>
            <if test="deductionIntegral != '' and deductionIntegral != null" >
                <![CDATA[
                    deduction_integral,
                ]]>
            </if>
            <if test="deductionIntegralPrice != '' and deductionIntegralPrice != null" >
                <![CDATA[
                    deduction_integral_price,
                ]]>
            </if>
            <if test="deductionMemberPrice != '' and deductionMemberPrice != null" >
                <![CDATA[
                    deduction_member_price,
                ]]>
            </if>
            <if test="deductionBalancePrice != '' and deductionBalancePrice != null" >
                <![CDATA[
                    deduction_balance_price,
                ]]>
            </if>
            <if test="deductionCouponPrice != '' and deductionCouponPrice != null" >
                <![CDATA[
                    deduction_coupon_price,
                ]]>
            </if>
            <if test="deductionGiftcardPrice != '' and deductionGiftcardPrice != null" >
                <![CDATA[
                    deduction_giftcard_price,
                ]]>
            </if>
            <if test="payPrice != null" >
                <![CDATA[
                    pay_price,
                ]]>
            </if>
            <if test="transport != '' and transport != null" >
                <![CDATA[
                    transport,
                ]]>
            </if>
            <if test="shipPrice != '' and shipPrice != null" >
                <![CDATA[
                    ship_price,
                ]]>
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >

            now(),
            0,
            <if test="count != '' and count != null" >
                <![CDATA[
                    #{count,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="price != null" >
                <![CDATA[
                    #{price,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="integral != '' and integral != null" >
                <![CDATA[
                    #{integral,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="specInfo != '' and specInfo != null" >
                <![CDATA[
                    #{specInfo,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="goodsId != '' and goodsId != null" >
                <![CDATA[
                    #{goodsId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="ofId != '' and ofId != null" >
                <![CDATA[
                    #{ofId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="cartType != '' and cartType != null" >
                <![CDATA[
                    #{cartType,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="scId != '' and scId != null" >
                <![CDATA[
                    #{scId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="screenPrice != '' and screenPrice != null" >
                <![CDATA[
                    #{screenPrice,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="screenSafe != '' and screenSafe != null" >
                <![CDATA[
                    #{screenSafe,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="anchorId != '' and anchorId != null" >
                <![CDATA[
                    #{anchorId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="propertys != '' and propertys != null" >
                <![CDATA[
                    #{propertys,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="deductionIntegral != '' and deductionIntegral != null" >
                <![CDATA[
                    #{deductionIntegral,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="deductionIntegralPrice != '' and deductionIntegralPrice != null" >
                <![CDATA[
                    #{deductionIntegralPrice,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="deductionMemberPrice != '' and deductionMemberPrice != null" >
                <![CDATA[
                    #{deductionMemberPrice,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="deductionBalancePrice != '' and deductionBalancePrice != null" >
                <![CDATA[
                    #{deductionBalancePrice,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="deductionCouponPrice != '' and deductionCouponPrice != null" >
                <![CDATA[
                    #{deductionCouponPrice,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="deductionGiftcardPrice != '' and deductionGiftcardPrice != null" >
                <![CDATA[
                    #{deductionGiftcardPrice,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="payPrice != null" >
                <![CDATA[
                    #{payPrice,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="transport != '' and transport != null" >
                <![CDATA[
                    #{transport,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="shipPrice != '' and shipPrice != null" >
                <![CDATA[
                    #{shipPrice,jdbcType=VARCHAR},
                ]]>
            </if>
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.centit.order.po.ShoppingGoodscartPo" >
        <![CDATA[
        	update shopping_goodscart
        ]]>
        <set >
            <if test="id != '' and id != null" >
                <![CDATA[
                    id = #{id,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="addTime != '' and addTime != null" >
                <![CDATA[
                    addTime = #{addTime,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="deleteStatus != '' and deleteStatus != null" >
                <![CDATA[
                    deleteStatus = #{deleteStatus,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="count != '' and count != null" >
                <![CDATA[
                    count = #{count,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="price != null" >
                <![CDATA[
                    price = #{price,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="integral != '' and integral != null" >
                <![CDATA[
                    integral = #{integral,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="specInfo != '' and specInfo != null" >
                <![CDATA[
                    spec_info = #{specInfo,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="goodsId != '' and goodsId != null" >
                <![CDATA[
                    goods_id = #{goodsId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="ofId != '' and ofId != null" >
                <![CDATA[
                    of_id = #{ofId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="cartType != '' and cartType != null" >
                <![CDATA[
                    cart_type = #{cartType,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="scId != '' and scId != null" >
                <![CDATA[
                    sc_id = #{scId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="screenPrice != '' and screenPrice != null" >
                <![CDATA[
                    screen_price = #{screenPrice,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="screenSafe != '' and screenSafe != null" >
                <![CDATA[
                    screen_safe = #{screenSafe,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="anchorId != '' and anchorId != null" >
                <![CDATA[
                    anchor_id = #{anchorId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="propertys != '' and propertys != null" >
                <![CDATA[
                    propertys = #{propertys,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="deductionIntegral != '' and deductionIntegral != null" >
                <![CDATA[
                    deduction_integral = #{deductionIntegral,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="deductionIntegralPrice != '' and deductionIntegralPrice != null" >
                <![CDATA[
                    deduction_integral_price = #{deductionIntegralPrice,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="deductionMemberPrice != '' and deductionMemberPrice != null" >
                <![CDATA[
                    deduction_member_price = #{deductionMemberPrice,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="deductionBalancePrice != '' and deductionBalancePrice != null" >
                <![CDATA[
                    deduction_balance_price = #{deductionBalancePrice,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="deductionCouponPrice != '' and deductionCouponPrice != null" >
                <![CDATA[
                    deduction_coupon_price = #{deductionCouponPrice,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="deductionGiftcardPrice != '' and deductionGiftcardPrice != null" >
                <![CDATA[
                    deduction_giftcard_price = #{deductionGiftcardPrice,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="payPrice != null" >
                <![CDATA[
                    pay_price = #{payPrice,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="transport != '' and transport != null" >
                <![CDATA[
                    transport = #{transport,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="shipPrice != '' and shipPrice != null" >
                <![CDATA[
                    ship_price = #{shipPrice,jdbcType=VARCHAR},
                ]]>
            </if>
        </set>
        <where>
            <![CDATA[
                and id = #{id ,jdbcType=VARCHAR }
            ]]>
        </where>
    </update>


    <!--  查询详情 -->
    <select id="queryDetail" resultMap="BaseResultMap" parameterType="com.centit.order.po.ShoppingGoodscartPo">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from shopping_goodscart t
        ]]>
        <where>
            <if test="id != null and id != ''">
                <![CDATA[
                AND id = #{id ,jdbcType=VARCHAR}
            ]]>
            </if>
            <if test="deleteStatus != null and deleteStatus != ''">
                <![CDATA[
                AND deleteStatus = #{deleteStatus ,jdbcType=VARCHAR}
            ]]>
            </if>
            <if test="goodsId != null and goodsId != ''">
                <![CDATA[
                AND goods_id = #{goodsId ,jdbcType=VARCHAR}
            ]]>
            </if>
            <if test="scId != null and scId != ''">
                <![CDATA[
                AND sc_id = #{scId ,jdbcType=VARCHAR}
            ]]>
            </if>
        </where>
    </select>
</mapper>
