<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centit.file.webmgr.dao.TicketProjectImgDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.centit.file.webmgr.po.TicketProjectImg">
        <id column="project_id" property="projectId" />
        <result column="project_img_url" property="projectImgUrl" />
        <result column="img_id" property="imgId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列(横着排列) -->
    <sql id="Base_Column_List1">
        project_id, project_img_url, img_id, create_time
    </sql>

    <!-- 通用查询结果列(竖着排列) -->
    <sql id="Base_Column_List2">
        project_id
          ,
        project_img_url
          ,
        img_id
          ,
        create_time
    </sql>

    <!-- 通用查询条件 -->
    <sql id="Base_Where_List">
        <if test="projectId != null and projectId != ''">
            <![CDATA[
                AND project_id = #{projectId ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="projectImgUrl != null and projectImgUrl != ''">
            <![CDATA[
                AND project_img_url = #{projectImgUrl ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="imgId != null and imgId != ''">
            <![CDATA[
                AND img_id = #{imgId ,jdbcType=VARCHAR}
            ]]>
        </if>
        <if test="createTime != null and createTime != ''">
            <![CDATA[
                AND create_time = #{createTime ,jdbcType=VARCHAR}
            ]]>
        </if>
    </sql>


    <!--  新增 -->
    <insert id="insert" parameterType="com.centit.file.webmgr.po.TicketProjectImg">
        <![CDATA[
			insert into ticket_project_img
		]]>
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="projectId != '' and projectId != null" >
                <![CDATA[
                    project_id,
                ]]>
            </if>
            <if test="projectImgUrl != '' and projectImgUrl != null" >
                <![CDATA[
                    project_img_url,
                ]]>
            </if>
            <if test="imgId != '' and imgId != null" >
                <![CDATA[
                    img_id,
                ]]>
            </if>
            <if test="createTime != '' and createTime != null" >
                <![CDATA[
                    create_time,
                ]]>
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="projectId != '' and projectId != null" >
                <![CDATA[
                    #{projectId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="projectImgUrl != '' and projectImgUrl != null" >
                <![CDATA[
                    #{projectImgUrl,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="imgId != '' and imgId != null" >
                <![CDATA[
                    #{imgId,jdbcType=VARCHAR},
                ]]>
            </if>
            <if test="createTime != '' and createTime != null" >
                <![CDATA[
                    #{createTime,jdbcType=VARCHAR},
                ]]>
            </if>
        </trim>
    </insert>


    <!--  查询列表 -->
    <select id="queryList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List1" />
        <![CDATA[
            from ticket_project_img t where
        ]]>
        <where>
            <include refid="Base_Where_List" />
        </where>
    </select>

</mapper>
